In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import os
import shutil

In [3]:
df =pd.read_csv("newlabels - newlabels.csv")

In [4]:
df.head()

,Unnamed: 0,photo_id,business_id,caption,label,good,I/Ni,NewGood,Good2,Info2,Unnamed: 10
0,1124,_15wZGb3QONopTo5yiZ8Rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0,1.0,1.0,1.0,NaN
1,1142,_80kyh9A5cFNG-RwwDR6iA,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0,1.0,1.0,0.0,NaN
2,1177,_8B40xRtabQop1QXbpGTtA,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1,1.0,1.0,1.0,NaN
3,1107,_8tN02g8wArjtdcu1e7Fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0,0.0,0.0,0.0,NaN
4,576,_a1d3bupKZ0bzKyUAUmh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0,0.0,0.0,1.0,NaN

In [ ]:
df['']

In [2]:
data = pd.read_csv('labeled1.txt', sep=" ", header=None)
data.columns = ["no", "photoId", "semi", "score", "equal", "value"]

In [3]:
data.head()

   no                     photoId semi  score equal    value
0  1)  3kwfbrxc94yascxu5jesdg.jpg    :  Score     =  6.01852
1  2)  _80kyh9a5cfng-rwwdr6ia.jpg    :  Score     =  5.97458
2  3)  9move4mhyj-xk4x1cb6v6g.jpg    :  Score     =  5.92328
3  4)  6voizfypnm_xzak226e92a.jpg    :  Score     =  5.78169
4  5)  jifk0icjqkndg_zravbrgw.jpg    :  Score     =  5.77343

In [3]:
data = data.drop(['no', 'semi', 'score', 'equal'], axis=1)

In [5]:
data.head()

                      photoId    value
0  3kwfbrxc94yascxu5jesdg.jpg  6.01852
1  _80kyh9a5cfng-rwwdr6ia.jpg  5.97458
2  9move4mhyj-xk4x1cb6v6g.jpg  5.92328
3  6voizfypnm_xzak226e92a.jpg  5.78169
4  jifk0icjqkndg_zravbrgw.jpg  5.77343

In [6]:
min(data['value'])

4.11543

In [7]:
max(data['value'])

6.01852

In [4]:
data['photoId'] = [x.split('.')[0] for x in data['photoId']]

In [9]:
data.head()

                  photoId    value
0  3kwfbrxc94yascxu5jesdg  6.01852
1  _80kyh9a5cfng-rwwdr6ia  5.97458
2  9move4mhyj-xk4x1cb6v6g  5.92328
3  6voizfypnm_xzak226e92a  5.78169
4  jifk0icjqkndg_zravbrgw  5.77343

In [5]:
data = data.drop_duplicates(subset='photoId', keep="last")

In [11]:
data.shape

(483, 2)

In [6]:
df1 = pd.read_csv('newlabels.csv', sep=",")

In [13]:
df1.shape

(483, 11)

In [14]:
df1.head()

,sno,photoId,business_id,caption,label,good1,I/Ni,NewGood,good,useful,Unnamed: 10
0,1124.0,_15wZGb3QONopTo5yiZ8Rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0.0,1.0,1.0,1.0,NaN
1,1142.0,_80kyh9A5cFNG-RwwDR6iA,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0,1.0,1.0,0.0,NaN
2,1177.0,_8B40xRtabQop1QXbpGTtA,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1.0,1.0,1.0,1.0,NaN
3,1107.0,_8tN02g8wArjtdcu1e7Fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0.0,0.0,0.0,0.0,NaN
4,576.0,_a1d3bupKZ0bzKyUAUmh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0.0,0.0,0.0,1.0,NaN

In [7]:
df1 = df1.drop(['sno'], axis=1)

In [16]:
df1.head()

,photoId,business_id,caption,label,good1,I/Ni,NewGood,good,useful,Unnamed: 10
0,_15wZGb3QONopTo5yiZ8Rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0.0,1.0,1.0,1.0,NaN
1,_80kyh9A5cFNG-RwwDR6iA,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0,1.0,1.0,0.0,NaN
2,_8B40xRtabQop1QXbpGTtA,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1.0,1.0,1.0,1.0,NaN
3,_8tN02g8wArjtdcu1e7Fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0.0,0.0,0.0,0.0,NaN
4,_a1d3bupKZ0bzKyUAUmh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0.0,0.0,0.0,1.0,NaN

In [17]:
df1.shape

(483, 10)

In [8]:
df1 = df1.drop_duplicates(subset='photoId', keep="last")

In [19]:
df1.shape

(483, 10)

In [9]:
df1['photoIdOrig'] = df1['photoId']
df1['photoId'] = df1['photoId'].str.lower()

In [21]:
df1.head()

,photoId,business_id,caption,label,good1,I/Ni,NewGood,good,useful,Unnamed: 10,photoIdOrig
0,_15wzgb3qonopto5yiz8rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0.0,1.0,1.0,1.0,NaN,_15wZGb3QONopTo5yiZ8Rg
1,_80kyh9a5cfng-rwwdr6ia,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0,1.0,1.0,0.0,NaN,_80kyh9A5cFNG-RwwDR6iA
2,_8b40xrtabqop1qxbpgtta,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1.0,1.0,1.0,1.0,NaN,_8B40xRtabQop1QXbpGTtA
3,_8tn02g8warjtdcu1e7fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0.0,0.0,0.0,0.0,NaN,_8tN02g8wArjtdcu1e7Fnw
4,_a1d3bupkz0bzkyuaumh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0.0,0.0,0.0,1.0,NaN,_a1d3bupKZ0bzKyUAUmh9w

In [10]:
df = pd.merge(data, df1, on="photoId")

In [23]:
df.head()

,photoId,value,business_id,caption,label,good1,I/Ni,NewGood,good,useful,Unnamed: 10,photoIdOrig
0,3kwfbrxc94yascxu5jesdg,6.01852,w_Cw1-80276SAhHw2LJqFQ,NaN,inside,0,0.0,0.0,1.0,1.0,NaN,3kWfBRXc94YASCXU5JESdg
1,_80kyh9a5cfng-rwwdr6ia,5.97458,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0,1.0,1.0,0.0,NaN,_80kyh9A5cFNG-RwwDR6iA
2,9move4mhyj-xk4x1cb6v6g,5.92328,mB_cI1tCrNxxvr2e2myNrQ,Want to get married? This is it!,outside,0,0.0,1.0,1.0,0.0,NaN,9MoVe4MHyj-XK4X1CB6V6g
3,6voizfypnm_xzak226e92a,5.78169,6lovZEiwWcRYRhyKd94DRg,fried pickles,food,0,1.0,1.0,1.0,1.0,NaN,6VOIZFYPnm_xZaK226e92A
4,jifk0icjqkndg_zravbrgw,5.77343,-9eNGMp8XiygI8t8QFuFWw,NaN,inside,0,0.0,1.0,1.0,1.0,NaN,JIFK0iCjqkNdG_zrAvbrGw

In [24]:
df.shape

(483, 12)

In [11]:
df.to_csv("join.csv")

In [26]:
df1.to_csv("labeled1.csv")

In [27]:
data.to_csv("data.csv")

In [28]:
x = df['value'].values.reshape(-1, 1) #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df['value'] = x_scaled.reshape(-1, 1)

In [29]:
df.head()

,photoId,value,business_id,caption,label,good1,I/Ni,NewGood,good,useful,Unnamed: 10,photoIdOrig
0,3kwfbrxc94yascxu5jesdg,1.000000,w_Cw1-80276SAhHw2LJqFQ,NaN,inside,0,0.0,0.0,1.0,1.0,NaN,3kWfBRXc94YASCXU5JESdg
1,_80kyh9a5cfng-rwwdr6ia,0.976911,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0,1.0,1.0,0.0,NaN,_80kyh9A5cFNG-RwwDR6iA
2,9move4mhyj-xk4x1cb6v6g,0.949955,mB_cI1tCrNxxvr2e2myNrQ,Want to get married? This is it!,outside,0,0.0,1.0,1.0,0.0,NaN,9MoVe4MHyj-XK4X1CB6V6g
3,6voizfypnm_xzak226e92a,0.875555,6lovZEiwWcRYRhyKd94DRg,fried pickles,food,0,1.0,1.0,1.0,1.0,NaN,6VOIZFYPnm_xZaK226e92A
4,jifk0icjqkndg_zravbrgw,0.871215,-9eNGMp8XiygI8t8QFuFWw,NaN,inside,0,0.0,1.0,1.0,1.0,NaN,JIFK0iCjqkNdG_zrAvbrGw

In [30]:
df.dtypes

photoId         object
value          float64
business_id     object
caption         object
label           object
good1           object
I/Ni           float64
NewGood        float64
good           float64
useful         float64
Unnamed: 10     object
photoIdOrig     object
dtype: object

In [31]:
df['useful'] = df['useful'].fillna(0).astype(int)

In [32]:
df['useful'] = df['useful'].apply(str)

In [33]:
df['good'] = df['good'].fillna(0).astype(int)

In [34]:
df['good'] = df['good'].apply(str)

In [41]:
df['NewGood'] = df['NewGood'].fillna(0).astype(int)

In [42]:
df['NewGood'] = df['NewGood'].apply(str)

In [35]:
df['good'].unique()

array(['1', '0'], dtype=object)

In [109]:
thresholds = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
n = df.shape[0]
print(np.sum(df['good']=='1')*100/n)
print(np.sum(df['good']=='0')*100/n)
for i in thresholds:
    df['norm'] = np.where(df['value']>=i, '1', '0')
    
    print(i)
    
#     print("good")
    print(np.sum(df['norm']=='1')*100/n)
    print(np.sum(df['norm']=='0')*100/n)
    
    
#     print("useful")
#     print(np.sum(df['useful']=='1')*100/n)
#     print(np.sum(df['useful']=='0')*100/n)
    
#     print("Both")
#     print(np.sum((df['good']=='1') | (df['useful']=='1'))*100/n)
#     print(np.sum((df['good']=='0') & (df['useful']=='0'))*100/n)
    
#     print("good")
    print((np.sum((df['norm']==df['good']) & (df['good']=='1'))*100)/n)
    print((np.sum((df['norm']==df['good']) & (df['good']=='0'))*100)/n)
    print((np.sum(df['norm']==df['good'])*100)/n)
    
#     print("useful")
#     print((np.sum((df['norm']==df['useful']) & (df['useful']=='1'))*100)/n)
#     print((np.sum((df['norm']==df['useful']) & (df['useful']=='0'))*100)/n)
#     print((np.sum(df['norm']==df['useful'])*100)/n)
    
#     print("Both")
#     tp = (np.sum(((df['norm']==df['good']) | (df['norm']==df['useful'])) & (df['norm']=='1'))*100)/n
#     tn = (np.sum(((df['norm']==df['good']) & (df['norm']==df['useful'])) & (df['norm']=='0'))*100)/n
#     print(tp)
#     print(tn)
#     print(tp+tn)
# #     print((np.sum((df['norm'])==((df['good']) | (df['useful'])))*100)/n)
    
    print("")

74
25
0.1
99
0
74
0
74

0.2
98
1
73
0
73

0.3
96
3
72
1
73

0.4
88
11
66
3
69

0.5
61
38
45
10
56

0.6
26
73
21
20
42

0.7
9
90
8
24
32

0.8
2
97
2
25
27

0.9
0
99
0
25
26

In [111]:
thresholds = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
n = df.shape[0]
print(np.sum(df['good']=='1'))
print(np.sum(df['good']=='0'))
for i in thresholds:
    df['norm'] = np.where(df['value']>=i, '1', '0')
    
    print(i)
    
#     print("good")
    print(np.sum(df['norm']=='1'))
    print(np.sum(df['norm']=='0'))
    
    
#     print("useful")
#     print(np.sum(df['useful']=='1')*100/n)
#     print(np.sum(df['useful']=='0')*100/n)
    
#     print("Both")
#     print(np.sum((df['good']=='1') | (df['useful']=='1'))*100/n)
#     print(np.sum((df['good']=='0') & (df['useful']=='0'))*100/n)
    
#     print("good")
    print(np.sum((df['norm']==df['good']) & (df['good']=='1')))
    print(np.sum((df['norm']==df['good']) & (df['good']=='0')))
    print(np.sum(df['norm']==df['good']))
    
#     print("useful")
#     print((np.sum((df['norm']==df['useful']) & (df['useful']=='1'))*100)/n)
#     print((np.sum((df['norm']==df['useful']) & (df['useful']=='0'))*100)/n)
#     print((np.sum(df['norm']==df['useful'])*100)/n)
    
#     print("Both")
#     tp = (np.sum(((df['norm']==df['good']) | (df['norm']==df['useful'])) & (df['norm']=='1'))*100)/n
#     tn = (np.sum(((df['norm']==df['good']) & (df['norm']==df['useful'])) & (df['norm']=='0'))*100)/n
#     print(tp)
#     print(tn)
#     print(tp+tn)
# #     print((np.sum((df['norm'])==((df['good']) | (df['useful'])))*100)/n)
    
    print("")

359
124
0.1
482
1
359
1
360

0.2
478
5
355
1
356

0.3
466
17
348
6
354

0.4
428
55
319
15
334

0.5
295
188
222
51
273

0.6
129
354
105
100
205

0.7
46
437
40
118
158

0.8
14
469
12
122
134

0.9
3
480
3
124
127

In [50]:
thresholds = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
n = df.shape[0]
for i in thresholds:
    df['norm'] = np.where(df['value']>=i, '1', '0')
    
    print(i)
    
#     print("good")
#     print(np.sum(df['good']=='1')*100/n)
#     print(np.sum(df['good']=='0')*100/n)
    
#     print("useful")
#     print(np.sum(df['useful']=='1')*100/n)
#     print(np.sum(df['useful']=='0')*100/n)
    
    print("Both")
    print(np.sum((df['good']=='1') | (df['useful']=='1'))*100/n)
    print(np.sum((df['good']=='0') & (df['useful']=='0'))*100/n)
    
#     print("good")
#     print((np.sum((df['norm']==df['good']) & (df['good']=='1'))*100)/n)
#     print((np.sum((df['norm']==df['good']) & (df['good']=='0'))*100)/n)
#     print((np.sum(df['norm']==df['good'])*100)/n)
    
#     print("useful")
#     print((np.sum((df['norm']==df['useful']) & (df['useful']=='1'))*100)/n)
#     print((np.sum((df['norm']==df['useful']) & (df['useful']=='0'))*100)/n)
#     print((np.sum(df['norm']==df['useful'])*100)/n)
    
    print("Both")
    tp = (np.sum(((df['norm']==df['good']) | (df['norm']==df['useful'])) & (df['norm']=='1'))*100)/n
    tn = (np.sum(((df['norm']==df['good']) & (df['norm']==df['useful'])) & (df['norm']=='0'))*100)/n
    print(tp)
    print(tn)
#     print(tp+tn)
    fp = np.sum(((df['useful']=='0') & (df['good']=='0')) & (df['norm']=='1'))*100/n
    
    print(fp)
#     tp = (np.sum(((df['useful']==df['good']) & (df['useful']=='0')) & (df['norm']=='1'))*100)/n
#     tn = (np.sum(((df['useful']==df['good']) & (df['useful']=='0')) & (df['norm']=='1'))*100)/n
#     print(tp)
#     print(tn)
#     print(tp+tn)
#     print((np.sum((df['norm'])==((df['good']) | (df['useful'])))*100)/n)
    
    print("")

0.1
Both
81
0
Both
81
0
0

0.2
Both
81
0
Both
80
0
0

0.3
Both
81
0
Both
78
0
0

0.4
Both
81
0
Both
72
0
0

0.5
Both
81
0
Both
48
0
0

0.6
Both
81
0
Both
22
0
0

0.7
Both
81
0
Both
7
0
0

0.8
Both
81
0
Both
2
0
0

0.9
Both
81
0
Both
0
0
0

In [51]:
thresholds = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
n = df.shape[0]
for i in thresholds:
    df['norm'] = np.where(df['value']>=i, '1', '0')
    
    print(i)
    
    print("good")
    print(np.sum(df['good']==df['norm'])*100/n)
#     print(np.sum(df['good']=='0')*100/n)

0.1
good
0
0.2
good
0
0.3
good
0
0.4
good
0
0.5
good
0
0.6
good
0
0.7
good
0
0.8
good
0
0.9
good
0

In [43]:
thresholds = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
n = df.shape[0]
print(np.sum(df['good']=='1')*100/n)
print(np.sum(df['good']=='0')*100/n)
for i in thresholds:
    df['norm'] = np.where(df['value']>=i, '1', '0')
    
    print(i)
    
#     print("good")
    print(np.sum(df['norm']=='1')*100/n)
    print(np.sum(df['norm']=='0')*100/n)
    
    
#     print("useful")
#     print(np.sum(df['useful']=='1')*100/n)
#     print(np.sum(df['useful']=='0')*100/n)
    
#     print("Both")
#     print(np.sum((df['good']=='1') | (df['useful']=='1'))*100/n)
#     print(np.sum((df['good']=='0') & (df['useful']=='0'))*100/n)
    
#     print("good")
    print((np.sum((df['norm']==df['NewGood']) & (df['NewGood']=='1'))*100)/n)
    print((np.sum((df['norm']==df['NewGood']) & (df['NewGood']=='0'))*100)/n)
    print((np.sum(df['norm']==df['NewGood'])*100)/n)
    
#     print("useful")
#     print((np.sum((df['norm']==df['useful']) & (df['useful']=='1'))*100)/n)
#     print((np.sum((df['norm']==df['useful']) & (df['useful']=='0'))*100)/n)
#     print((np.sum(df['norm']==df['useful'])*100)/n)
    
#     print("Both")
#     tp = (np.sum(((df['norm']==df['good']) | (df['norm']==df['useful'])) & (df['norm']=='1'))*100)/n
#     tn = (np.sum(((df['norm']==df['good']) & (df['norm']==df['useful'])) & (df['norm']=='0'))*100)/n
#     print(tp)
#     print(tn)
#     print(tp+tn)
# #     print((np.sum((df['norm'])==((df['good']) | (df['useful'])))*100)/n)
    
    print("")

74
25
0.1
99
0
67
0
67

0.2
98
1
67
0
68

0.3
96
3
65
1
67

0.4
88
11
60
4
65

0.5
61
38
41
12
54

0.6
26
73
18
24
42

0.7
9
90
7
30
37

0.8
2
97
2
31
34

0.9
0
99
0
32
32

In [36]:
threshold = 0.5
# n = df.shape[0]

df['norm'] = np.where(df['value']>=threshold, '1', '0')
df['fp'] = np.where(((df['good']=='0') & (df['norm']=='1')), df['photoId'], '0')
df['tp'] = np.where(((df['good']=='1') & (df['norm']=='1')), df['photoId'], '0')
df['fn'] = np.where(((df['good']=='1') & (df['norm']=='0')), df['photoId'], '0')
df['tn'] = np.where(((df['good']=='0') & (df['norm']=='0')), df['photoId'], '0')

In [ ]:
np.sum(df['norm']==1)

In [47]:
df.to_csv("NimaAnalysis.csv")

In [46]:
threshold = 0.5
# n = df.shape[0]

df['norm'] = np.where(df['value']>=threshold, '1', '0')
df['fpFood'] = np.where(((df['good']=='0') & (df['norm']=='1') & (df['label']=='food')), df['photoId'], '0')
df['tpFood'] = np.where(((df['good']=='1') & (df['norm']=='1') & (df['label']=='food')), df['photoId'], '0')
df['fnFood'] = np.where(((df['good']=='1') & (df['norm']=='0') & (df['label']=='food')), df['photoId'], '0')
df['tnFood'] = np.where(((df['good']=='0') & (df['norm']=='0') & (df['label']=='food')), df['photoId'], '0')

df['fpInside'] = np.where(((df['good']=='0') & (df['norm']=='1') & (df['label']=='inside')), df['photoId'], '0')
df['tpInside'] = np.where(((df['good']=='1') & (df['norm']=='1') & (df['label']=='inside')), df['photoId'], '0')
df['fnInside'] = np.where(((df['good']=='1') & (df['norm']=='0') & (df['label']=='inside')), df['photoId'], '0')
df['tnInside'] = np.where(((df['good']=='0') & (df['norm']=='0') & (df['label']=='inside')), df['photoId'], '0')

df['fpOutside'] = np.where(((df['good']=='0') & (df['norm']=='1') & (df['label']=='outside')), df['photoId'], '0')
df['tpOutside'] = np.where(((df['good']=='1') & (df['norm']=='1') & (df['label']=='outside')), df['photoId'], '0')
df['fnOutside'] = np.where(((df['good']=='1') & (df['norm']=='0') & (df['label']=='outside')), df['photoId'], '0')
df['tnOutside'] = np.where(((df['good']=='0') & (df['norm']=='0') & (df['label']=='outside')), df['photoId'], '0')

df['fpDrink'] = np.where(((df['good']=='0') & (df['norm']=='1') & (df['label']=='drink')), df['photoId'], '0')
df['tpDrink'] = np.where(((df['good']=='1') & (df['norm']=='1') & (df['label']=='drink')), df['photoId'], '0')
df['fnDrink'] = np.where(((df['good']=='1') & (df['norm']=='0') & (df['label']=='drink')), df['photoId'], '0')
df['tnDrink'] = np.where(((df['good']=='0') & (df['norm']=='0') & (df['label']=='drink')), df['photoId'], '0')

In [49]:
print(np.sum(df['label']=='food'))
print(np.sum(df['label']=='inside'))
print(np.sum(df['label']=='outside'))
print(np.sum(df['label']=='drink'))

315
108
38
17

In [51]:
print(np.sum(df['tpFood']!='0'))
print(np.sum(df['tnFood']!='0'))
print(np.sum(df['fpFood']!='0'))
print(np.sum(df['fnFood']!='0'))

153
24
23
115

In [52]:
print(np.sum(df['tpInside']!='0'))
print(np.sum(df['tnInside']!='0'))
print(np.sum(df['fpInside']!='0'))
print(np.sum(df['fnInside']!='0'))

40
25
30
13

In [53]:
print(np.sum(df['tpOutside']!='0'))
print(np.sum(df['tnOutside']!='0'))
print(np.sum(df['fpOutside']!='0'))
print(np.sum(df['fnOutside']!='0'))

20
1
16
1

In [56]:
print(np.sum(df['tpInside']!='0'))
print(np.sum(df['tnInside']!='0'))
print(np.sum(df['fpInside']!='0'))
print(np.sum(df['fnInside']!='0'))

40
25
30
13

In [72]:
from __future__ import division
print((np.sum(df['tpInside']!='0'))/(np.sum(df['tpInside']!='0')+np.sum(df['fpInside']!='0')))
tp = np.sum(df['tpInside']!='0')
fp = np.sum(df['fpInside']!='0')
tn = np.sum(df['tnInside']!='0')
# print(tp/(tp+fp))
print((tp+tn)/(np.sum(df['label']=='inside')))

0.5714285714285714
0.6018518518518519

In [71]:
from __future__ import division
print((np.sum(df['tpOutside']!='0'))/(np.sum(df['tpOutside']!='0')+np.sum(df['fpOutside']!='0')))
tp = np.sum(df['tpOutside']!='0')
fp = np.sum(df['fpOutside']!='0')
tn = np.sum(df['tnOutside']!='0')
# print(tp/(tp+fp))
print((tp+tn)/(np.sum(df['label']=='outside')))

0.5555555555555556
0.5526315789473685

In [73]:
from __future__ import division
print((np.sum(df['tpFood']!='0'))/(np.sum(df['tpFood']!='0')+np.sum(df['fpFood']!='0')))
tp = np.sum(df['tpFood']!='0')
fp = np.sum(df['fpFood']!='0')
tn = np.sum(df['tnFood']!='0')
# print(tp/(tp+fp))
print((tp+tn)/(np.sum(df['label']=='food')))

0.8693181818181818
0.5619047619047619

In [75]:
from __future__ import division
print((np.sum(df['tpDrink']!='0'))/(np.sum(df['tpDrink']!='0')+np.sum(df['fpDrink']!='0')))
tp = np.sum(df['tpDrink']!='0')
fp = np.sum(df['fpDrink']!='0')
tn = np.sum(df['tnDrink']!='0')
# print(tp/(tp+fp))
print((tp+tn)/(np.sum(df['label']=='drink')))

0.8
0.5294117647058824

In [37]:
photoIDs = df['fp'].tolist()

print(len(photoIDs))
photoIDs = list(filter(lambda a: a != '0', photoIDs))
# print(photoIDs)

483

In [54]:
path = '/home/nihira/Documents/CS6220BigData/Project/neural-image-assessment-master/labeledYelp/'

i = 0
j = 0
k = 0
filenames = []
filepath = []
for filename in os.listdir(path):
    j= j+1
    filenames.append(os.path.splitext(filename)[0])
    if (os.path.splitext(filename)[0].lower() in photoIDs):
#         shutil.copy(path+filename,'/home/nihira/Documents/CS6220BigData/Project/neural-image-assessment-master/FalsePositive/'+filename)
        df['photo_id'] = os.path.splitext(filename)[0]
        i = i+1

In [55]:
df['photo_id'].head()

0    JIFK0iCjqkNdG_zrAvbrGw
1    JIFK0iCjqkNdG_zrAvbrGw
2    JIFK0iCjqkNdG_zrAvbrGw
3    JIFK0iCjqkNdG_zrAvbrGw
4    JIFK0iCjqkNdG_zrAvbrGw
Name: photo_id, dtype: object

In [56]:
df['photo_id'].shape

(482,)

In [57]:
filenames

['1d_XuE0VXZrk7Lg2rWJPSA',
 'Oo_KccMeUkRD63hx_ZeZ_Q',
 'MUIpOCyz4a_5y2Q3DTDAMw',
 '5plEFhaWQ-B5cAJV7Z149A',
 '2ktcMAwYqlDItbdJAcmsgg',
 'NXqmR3LSC2vbBNOXBhRXWw',
 '3_aqX0h0qEWn0yTgO_ylLQ',
 '9amMreV0_yzf-zPuoqWcQw',
 'miWLW-CWt-rNPu1Gy3tsoA',
 '4jG_cpLbEXfdIuepBjUkZA',
 '3eHqLyU3TxZXTw4Snb0d5g',
 '-s6uWGKVWLu4LNizzC5wLA',
 '-ec3BgguIDOhPVbhzaeziQ',
 'Nbol0AoGgtjcOgVU95BYIQ',
 'oLdv2eoe7ExsQ2R5SgfcZQ',
 '0j_bF0pKpTEU9u5PFUafnw',
 '14Vk0Bdb8DE5PANNdSt0QA',
 'K43uEOOwbPzdMB1e8rUNjw',
 'NboWMv9jPl91IxRdBT7NeA',
 'KcV3MAv_5NI43SZq3HzO_g',
 '6HGJ4yG_w2GWIsz4l9bkJg',
 'MaHdbt39e48mTrvCfzkQ5A',
 '0tVQPZxdQOiA2DuH_-6uxQ',
 '0UbPYe5yOKJT1HJwI5iQlw',
 'mYf5YwI9euz7Qli5_Y8HZw',
 '1IWFhOm6OndmHeepEt0DFQ',
 'Olu_2tzPXwtITwHaci9seg',
 '5Cb16nLyythribtZ0FUqYA',
 '3rwvCF1sdEWwlE44aR_SCA',
 '-oOleqTMDU-7r-Bl6Rexbg',
 'JtFxGCMMASZh2pDApFQRmA',
 'o75bsf6D0LFU1mNMBmAEYg',
 '9MgvjaAQvelJR4qhiVjxOw',
 'ldDR91kS8V_vp52yN7ATDA',
 'MxmcFtgNd7OxaJdPiTctNA',
 'KMyjAg1Ju7hlMWxDQAQ-vA',
 '7pf0iIYgLKAPormuMltP1g',
 'o00dISpPpG4n-FxohRZaKQ',
 '_80kyh9A5cFNG-RwwDR6iA',
 'M68f-ZiQsrsEsldqx9-ABg',
 'kbMbTiT0BYU_DeejPptwWQ',
 'o74urearQ-ZQumzxAWvOAg',
 'jTH5rOvPnKarz2RFGTnaZQ',
 'OcNHTiRwj30PtPrJLJh8NQ',
 'o0ypaZkOK-ZuLPjs0-8qBg',
 '9tE1VWVEDENNDGYsbCMfIw',
 'mPKdnFAl2h9_Du5AJhDQMw',
 'ktExz1hvUQ7iAmtcNwvnpQ',
 '7twqLFKsxbdDMn_0CVTgkw',
 'Kc-VoawOvwGU4WpeQBPjTA',
 '3D4g1j7hKLGY24LMRC8WwA',
 'MHLtMTs685wfU6k1mRixeA',
 '6VOIZFYPnm_xZaK226e92A',
 'MU6EKFxAwYaHm58r7SMtoA',
 '5vZ8NvRZxj8mXt1W87SL2Q',
 'k1zurf5QnwO4JqPgZqdIeA',
 '-H1D6vTVYH0maVe1eqAIqg',
 '0I4VeSsBZ9Wrro9M_lO5nw',
 '0G40bb59hlN1R8UymztpLw',
 'jJpRSc5m1t6Wt4PZfIl2Tg',
 '1FZPBOwyMLZ1_9dExwybRQ',
 '31uHnco_HOWtMxrhpS_-7A',
 '3XXI4WvZHmNjPcYw1k_p7g',
 '66a4hYKLvNe2bcCsM03Igw',
 '3G5IDosY4aiEEwiuTrCYfA',
 '3uhp0bF3fNoT8Eh_wplQ5g',
 '-FfDw_gBQ6vNjwUzHsclAw',
 'MamTK0tuYjdj45705I1_Jg',
 'Kswi0ci3HM7ZSHkYTFCDKg',
 'OiHcQQyfYd0oIjeBlpWShQ',
 '4KbSACKfgsewpo9daEJ2ww',
 '6uAysW6JlgQAb7GFtP1MUw',
 '7Yk5xLU2ZFPgKiEkzV-TFw',
 'N77WnBJJ395qbB1F92COeg',
 'MQ88R-yEwM3kvrvqXpEsNg',
 'lpLer5nteH887-nMbwzSJg',
 'O6QHwaeIZCc3ArQFmoDF3w',
 '3pLdQngTJZ68TjhjoHCquw',
 'mGQOjFJT7fjNseuNSn2mWA',
 'O96UwAf-mmmkQoI9fL3enA',
 'k2g5_7dCq_ZOqOarHk8Q5g',
 '1xcAwb9McEL9oWdUu6vBxw',
 '7C38m8bB7B-t2Eo3cnUejw',
 'mVDCpm7ZB0XWzZQ99Hi-pg',
 'n9viTLQwqGS1ZNC1nZmIIg',
 '2Ttlf7S_W7m7mj8J6VMmXg',
 '5XD1YDpmEEUHClqIzF9aNg',
 'Kpr994zI9iFHQjEn3I9WIA',
 'KIeGlrx3kb-wWLDM1YJHag',
 '4FMVvay0veBDVdcP6IOBVg',
 '9LofagZDbbkWfudVdrOw0w',
 '5sXvesuQ0Bdk9XLyz0ToKA',
 '1garSKHR776z4c1FDVqzZw',
 '1dewYYDikjBge3HJR1jN0Q',
 '9XHM_E5cBYY-UypYKrSfiA',
 'jMZ-BQeaz1JumI9UzDHLZA',
 '1ZbWePd0TvcDjTcS01EOAQ',
 '5cifOwo6xOcxGyiHdVqGPA',
 '9SJXDENdD9Wi0iLFJJiGgw',
 '0QGXPEHptB5UYxecQGjEOQ',
 '3kWfBRXc94YASCXU5JESdg',
 '4YvsQMAp5euVd1DEsWplPA',
 '3T-0yA0ZO8Hu56BXMfknLA',
 '4thhGA8493noQbyJ15_VRw',
 '4EwBWy-Y7Zbq_vBt3Laziw',
 'NxtTYv8Dp_ODekJJfo9v-w',
 '_BKqltZZ09AKm8W9KWvEwA',
 'Kv9z4CJh5RYPCyaEnqWJaw',
 'NKLscWXAOAdJT1zDwQzgig',
 '1rACkWIFmI2KZJZOl9OfqQ',
 '3wweKaxI9_1ovaaqp_ZKmw',
 '0T2uBcCmVG_iBqKb5L3dBA',
 '0t2b6CwNv9mYEuKsyiHc3g',
 'nn8Gq3PvWCTX5XKD0DRpJw',
 '4WZkf7q7caKqNH6tBEXGCA',
 'Nt4pUL5G4vaT8s1l8SBnfg',
 '6DXZ3M5XBNl7fOYwIYzq_A',
 'mVAfFeCPbFG-wkEU8odwMQ',
 'kvv2yFBxAJOrYsqKQMfokQ',
 '8_d9fuyjHa2Bto9op0X-EQ',
 'ok85I5JzYx2xNz_tPNL5mA',
 '0TosoMgE4FEGj2fWc06X3w',
 'lXVJLzBNEd5qWuoX1d1okQ',
 '4E2GPuc5CesxBWW699jEWw',
 '5gOM_SLc6xIEfNoCeZbdxw',
 'nGli9cK86x8ebqhcu2i1Wg',
 'jXzoSHyDQ2FiDwfuk9lB4g',
 '0nv5J1QVNhYRgjZiR9iNBw',
 '1QmX1tqFdlr09_CN9qKmoA',
 '_Ayb6aCcsIMfJgf1_jtO3w',
 'k2Cyn7nggEO9sQNJ3DM79g',
 'LSaWS_NTyaBhkSB7z2Zzxw',
 'O9vzywreRNlMg3issJOC_A',
 '_dNrAN9Zfjvy91Ek4Zqqcw',
 'JZl7eB2aWiID4R4VRKqALg',
 '0tWKKnoaLc8NozcVURExDA',
 '4XDhfrCg6tfq93cy1u7AKw',
 'jiDbHbkCKOUZ23DZerEXdw',
 '20IVIuX0-Z-OkvtPl7umUA',
 'mXOe38svuwxpf97U-RV-ZQ',
 'lCUkdRVoXooTmO80cOUOAQ',
 'jZ8TFLASi8Q91oh8V9zzfw',
 'MK6xyLU_xAivI-IfkJQZrg',
 '9bQoTdEkai2k7W5ftkA0Hw',
 '9MAg9hBJFU75Qj4vW5PTZw',
 'OnQvHUKxCajAiZGG5hejqQ',
 '1Gpgg_6NHyH0e8RjoITozQ',
 'MWzxUpE_k96ZutarGlFPpA',
 '4czkWgaWItIdnuQJ0mf_yw',
 'L1-ukmSNUaLE4Wuq3OTLsA',
 'lrqH_skEsoYMsLgi4N2Q5Q',
 '4cNQsJTziciMC_bDzUdEqg',
 'nd7WIjeLd1ZQgZ4TAKx6cw',
 'mcy4h92Hf7w_ucD26vxMNA',
 'MCprMALgkEv9cFELecO06w',
 '5rFq4ochnB8H7glLehZ3cQ',
 'lt3Oe20lpIkrcjNQVRV2ag',
 '5rMURL_HZtYlVgNilqJjXA',
 'jzc4UQcPLB6HvgJyV6ybSQ',
 'MJdNDAEKSrrNBnGwdprW6A',
 '9IuBxZjyIa3s3HMX3boPFg',
 'JlDokWSBsoYYbCfgfP6xlw',
 'K-u5VRkAL1oxYrhmA6fNpg',
 '2zMH2-HLL-jC0tmzGvaAdA',
 'ju6av_8td6eDX30RQ9V6Hg',
 'mZDE1Pc1XSs6lvm0_1-sPg',
 '7QmVsdgwKaECif2uL80W2w',
 '3Q166QCV69FH0lezoIBUNg',
 'm1EcGSx5wTyf988eaXCmBA',
 'mzX5g3qZa7xeLeUMlNWF8Q',
 '_xjI0KR2HHb_X9c_CBRXCA',
 'kt-LTyV6COqjVp9y8qfhjA',
 'KQ9DpXOFoaswwEho7a8IbA',
 'O05BDzWvLNSeA1qVsFcpZg',
 'n-V0Xz7k1sTbag8MPQ-xgg',
 'OdMNU7HPdxTLXzTPl9vQew',
 'jrgO2P6MxRy9MnKurfJdcg',
 '6p_VHtnsn0UTQl_2thNA3w',
 'mut1oonNpRIIlJcL7F5zkA',
 '7b8n8YIbXbevf4Vv74__7Q',
 'KV4lmWq-7cVXiYRVHvQFsA',
 'MhrIjvR12XDqIvgu9kIFSA',
 'kJya3OowyPsHg1HEK8vBDg',
 'KbHF2E-ZxgLfiswVGv0hWw',
 '_mM3GMsJnxacanUk4waIzw',
 'NRnoYS-2MMEPU7Qw9QUW6g',
 'laph9e2dc8rU_XNZkpeYRw',
 '7AbXCwENEOMgFxzslqNe2g',
 '5OPOhyHNVIBp91_qHuofvQ',
 '9XOacvwPfIUvQFwTfqLB1w',
 '5fGeS-FDf6AWpYIrfIMFkw',
 '3RMFCcTmrruUUrxHZ4swrQ',
 'LKJIvNdUHLOboUXj5mmQsg',
 'MWKFA_rtRXkhVpGEDfN44w',
 '16Yvs6OrIg5NvcJQlVKJqw',
 '-TdX8PBidQ3Qx5Ddj_kYTA',
 'kmb1PfS7GHRGy75LQr9xoQ',
 'loh3-FSJhTQJdl0YLF-rIQ',
 '0dF4QuO26y4FITKhuRvXmg',
 '5H6DqmeT02pvs6V8riTSUg',
 '0hqvRvO-qaSndk6iBFzBFQ',
 '3c2WpAE0d59oB0jRV4pLKw',
 'k8-inPA0I-1aUUDaN_yU8w',
 'nI9u5UXtlwlZUAFGrcZwbA',
 '2DiCPKgALult3nM4V57gBA',
 '9dVMTWkAL2mUaxwG04C5IA',
 'mqWWAKuwISXlRzictom0Gw',
 '9fCO4r2m2cNSvDDxkW6MGA',
 'nbqISLQPtrIc_N5ho5biBg',
 'KLkhwe66_2K7ltVRdPFJBA',
 '_unKwYVvYGpO5rRW3xcCYA',
 'n1HRh9LjfDLaxb93DRshsw',
 '1ibhUpxOALUb7c9HisHjIw',
 'NtJTNDXwOeWjFj4zVVYCjw',
 'KHZKqDJaxlIt0g0G4RlJxA',
 '3dxe_DDrOJC12yOafUILzw',
 'jjBUpOKqKC3PZpbRh_WYKg',
 '6aQusMXgBqBjCIABIesVQQ',
 '3tlWv4Gn-685hCJlNgBPHQ',
 'odwMYv254RomFAab5apjqg',
 '5_pg5TDD-xLKD6_xlsU2Ng',
 '48NftPUI5AuqEYVdUcryPQ',
 '1cXURBXL27Kn52UTcMv7tg',
 'l8w4zIDPRj3-LIov2M-9JQ',
 '2pTKfrz8Mz1qwJ4eDJM0NQ',
 'MMu-Z5P8DgDbJZa8zX_2Vw',
 '0SgEQqUD4h6U_NUWioKItQ',
 '3pEpx6j6WW-E-n8mms957w',
 '5zh-KE-9dXr4QgUbh-HiYg',
 'ONJ9h1oUbCEqFob4VxFTfw',
 'LddV-EzfnNM7VXotq5wGqw',
 'MH07JgBB9p1KEQD_T2XatQ',
 'MQk1iYhJdhTCtrNEShMDNw',
 '9VS6Fy2Z82wqGu9Ey5aB8w',
 '-wOgXLcm_exMm-N6fEw8fg',
 '64GF0QVBv04K8MyHln9O-w',
 'NXCrdyFNHMbakuSr5N6UXQ',
 'lqfFXKB6PhhSnqr5mBg03Q',
 'okBrjWNOPvm9f7H9owuVBw',
 '4fBoIorLr3pFMU_Tp4_JHw',
 '1QWmKlcWpsj7DBdNC8nV7Q',
 'mS6BmXS9QTSucVoWPFU4kg',
 '5V7TdipB7U2nUu6wrJh71w',
 '9e512UOXCvepXT_NLJcn8Q',
 'mgVrwctfDL48OqY44wjq9g',
 '6HzabYbNfAtDa01SdrtD1Q',
 'msnIdTeWEhqfcpRm26gzpQ',
 'KbRb_b7ZTNzRsrRjtsCzog',
 'o8VLfcFTw0B955CEqGlFIg',
 '28gWPbDKblmTTHOxbHIAVQ',
 'N3_MrtlKkf-iSJXb_83MFQ',
 '4yODrsY9ctPzDpEZ4Cxyig',
 'OKF9gEGnN6meO_1UvOoUKQ',
 'n390zVcsrYw3MwYinWdaTA',
 '2RulahbqSsSl8IILdtrp3A',
 'OjXK6kxu9CwFz-AJGNDDWg',
 'kV3iS8PyIuB7wXXkVGprjA',
 '61gqHZFFqGJ5CJio0AwxLw',
 'JmMy4I6nL7dQgrHQz8Z7_Q',
 'nRF-3c5yQr_3qfsKI178ug',
 'Mw_RS4WkZ0QET0GUovzfyg',
 '1uiogLmvg4ZZNoWKZVPluw',
 'JpetD2hRQsWM0a9fW45GnA',
 '_MdC5gEGtcjvBme-7s0uGA',
 'kukZH3fFTVW-nxEHcM3kog',
 '4g75P5_Y_iHoD-rYCXipaA',
 '_TM-Dvt3qRoNVaMFylBXyA',
 '1KXhhm9zToXHiUrB_pOY9Q',
 '4rEM1mawkJzdo3jONhoo_w',
 '6UkJhvcCoAPhysGmYaEHcA',
 '1AU8OK49dbmJag0K68M4Pw',
 'mZQzty5VG9Bp0hp22n_7Ug',
 '2NmQVx3NgRxG52Blx_haCA',
 '5i_jz5O4sUuvlKkuxPTKdw',
 'LQ4TSHyfCdioMr0aWOXbnQ',
 'MIvNbUGuUV6RHPYuvsO8yA',
 'mpznrv6_HcfaSYv1UISJ_Q',
 '26INfyOxHb62YCP42xeX2Q',
 '2DMScCirDUVGMxeqhbDecQ',
 'LsQUN0rGpVZ6CLyCUtvX3g',
 'LSAaVS4n8c5E54t-9Co2Lw',
 'K960hI3r4bx4SX_TaR2b9A',
 '7HZTRB_nwTwLjEYjraJIZw',
 '0HigBG1m-mVt2rLcYsoHGA',
 'mTjMuhFfdKIyk4IPaL2JsA',
 'kmouQnsx8cdBbwAtc-j0NA',
 'mQtHjJmdG31TCFDUIGyk5g',
 '0BRWYBsMNM0i259MIdGBlw',
 '3v9mIcXMcPidh4vwhs9zAw',
 'jj2TLGCke8xTJCBpmTv_FQ',
 'MZq4B7SE764QtpmozP_HVg',
 '9kT-PeGMAOeBdRWKX5PPGw',
 'LREsWjYhiIGHhOVF0RvC2Q',
 '5KP9YonP2i9DpmXTZUrDdQ',
 '7-Be3M_lJH5XKQPVy5_haw',
 'k8jw1N3jkHr9T5hEbY7m9A',
 '-S5eFnsJBvQJJvfoYXPyrA',
 '5ME96BaZtw0TpE3S-qltIg',
 '9KyknRtMkPl1pVxONilr0A',
 '7cTaC9ynVQW33_UuJvUsYw',
 '54cVWKadvO3Fs9hO5m0DLA',
 '5RbtCqVvFTnOPAeV4yI1og',
 '5dAxvEh-bAkLd7kNAT8sBw',
 'N8NOiP5q-crYZUTHySGl4A',
 'MkKlD87yC2yGilm1tZhogA',
 '7ew5BOC6BZ5yVSTD2fTONg',
 'm-PWC8ey-v0COStTPTEW7Q',
 '-AxfyFVOx3s1XyPr8yWDWw',
 'nXSP042ZD_poSffcPoZxAw',
 'McnNRGO6UvxEAL2DBsrJbQ',
 '2ouFn2sP_wYk7oOSMD5LBw',
 'OAq81h01veYwjIrJ2bG38w',
 'KcWH7TR2hO3TnY81gvEmGA',
 'jQv7lHbRJrECX5ptY1r-Aw',
 '_XZXfaZdUR4X6CzCziPfFA',
 '_15wZGb3QONopTo5yiZ8Rg',
 'kMfOYixcnypCH5-fDp0fYA',
 'nuKUjQIBPSzmyKiffmBdfA',
 'oBbkHIx8hYjRj8cIzGL6Lg',
 'mG_Xzl2NHtxXjDYGgKOvVQ',
 '-VK2Ns5NJoq3lO-dYUtRHA',
 'jT5nAjajK-CzCW8RfhM2XA',
 'jVMx9sS_eujTYPZ-CEab9A',
 '51CLHksGuuOT_igcd85oKQ',
 'oL5TG5MsuYMaIfwzqJyCUQ',
 '0xAl-vyoCuMfMdEfD1AMfA',
 '4Aivs3JqZTkRlTVlmE0PbQ',
 'mwckOWiGCQ7AUqFdF-10Tw',
 'kxs68ovQq8kvzHOiLsW0kw',
 '9hSjBdysJANN9v8wuzqwoQ',
 'Op1_d5MHsyqjnbmQo32Hfw',
 '211Mn-h7B-yZZHodrgHojg',
 'jiGVqa89qnmo-T7tEVKb6w',
 '3FreLoiXxZsF6BnPr5skxg',
 'OdopW30Fti5DY7VdFYchCw',
 '1L61R9ZOj3t8RV6cEiSVYA',
 '9KadsdTZsl3jBbLY8kBIFw',
 '0gzvL9PiRdV0RfBtN0jRgw',
 '_RS-CoIEPsTLXMu1OvfE0A',
 '2Y-mds280DPk9bS-_SfXVg',
 '60s6cOJaUGpNdJkFTT98ig',
 '-0JodhHzxFIIs1kp5RYN-Q',
 'l7FF7cZ_mN_14JZVqS98QA',
 'nB5Edh0iQ1tRzAAB3pzBQw',
 'LI-_62Y_viO9J6d_lGGwDQ',
 'MPeEGYF_6W4ufbTnrq4euA',
 '4ZerCkVKpdQY5C73Fn1otA',
 '71r8gdfP9lSCPF3h54neQA',
 '4gJoFow93w0duMSgPUInNw',
 '4fhQdcABwN0SpD9Lw5bQBQ',
 'ofgx7pDrZA8BR25d_d71Qg',
 'lsgPLj1wzSlVqz086Ov-Mw',
 'mCS4rYFYwFWQL00W5xvPEQ',
 '1qWvsG99ubcN_aVdMnIE1A',
 'jTEcWtqzCYFEUyhJXDD8yA',
 '7khYlXzyVEhpQZMeBbYktA',
 '4h3HDVkWRnnZzlprGsCvBg',
 '9mDvIPADbJ2g4C9Vtl_2VQ',
 '6iVNplQ9F3xOKyTwW2gHNA',
 '_Yu1jEA8xjRICta4JNLmpg',
 '7NIhMu9k0g8tTzBK49z2vg',
 'M-nXBq2cuLu3VwIpVjuiig',
 '-P5napMHmz-HIB_QdOqdnw',
 '_8tN02g8wArjtdcu1e7Fnw',
 '9MoVe4MHyj-XK4X1CB6V6g',
 'mGTj3r3F4jGSPiBIzeiCxQ',
 '0wIZN3Uvr1Lj-gDxaAa6Vw',
 '5qcQuzLGzOUGbV8jxQW6vw',
 '-qfhVTtCpHny2ttc4XkcKw',
 'jswdzyi6A_aKBfiHES1WSg',
 '-8Ps33v2xS4CI26TfzpGpQ',
 '7StR5FVcMXixxhMSKZ3IKg',
 'krrMjjW8phtUOMznN-K8zg',
 '_Knt5qzWn8Ch_xkgp5DVYg',
 'Lnfo687qPmVXE5p3YoKr-w',
 'O-6fsHadeo3QpulCQBiS1Q',
 '6r7QVDW2y3gicmiIszBGoA',
 '5d_84Gxsm-v80vm8TfNSLQ',
 'MjDdiouuIHcUQ8kd-o3J1w',
 'Lg4v_FqXB_x3OLRUM4gujg',
 '0xdP0HX_LhbQJKVLio8Eig',
 'JOGAhKz5uHDThI2UhAfytQ',
 '9OKCTNV1_9q8Rhcs_XFKnA',
 '-K5pQYfh6cXrKUlw59i54Q',
 'LIAvw_QR9yle_3H135Ja0A',
 '0FrbrDZOQK4-cTY-mOPckg',
 '1s9Q_w_mt6wnxHwYxIT2zw',
 '4NN2oi65gb4ysYfEoRdtSw',
 '4BnN7lXnOoNsDit_fD-x2A',
 '7wWWJcUt_9NEA7M9zl8XKw',
 'ntBF1MuczNtxvMxFFD8u9Q',
 'LJ2lids73hP9bijSoqUF1Q',
 'jiZjpb0P3Zyyo1GovOxRbA',
 'OLxxhf_IflTE06NGdjcyIg',
 '4Zrm3BZUnE1mIVeru6KzeQ',
 'JW7Mj9SABomGtfmvrDkocA',
 'KoQqXcGIDfnJq6aSCJ27BQ',
 'lyWUR3WNAWzXdVCGj9b9KQ',
 '0rLEB-1wpK9CfruUJEnElg',
 'mqSYtj1QhsnRC0tYiE5lDQ',
 '31HuztW4yT5zJzj0GAkufA',
 '_OoTrJ2hglt6xSLEr9GT5g',
 'kAfnQIYFPR6xQuTvjAhouA',
 '7xk6rixNLfy82MDIBnnGGw',
 'NLPwAr-UOQ4r7V3on0g69A',
 '6jspy5ANds36cbiv5HXCZg',
 '9lJg4QOfM9FC5c5EjWWSOQ',
 'MY_THNvzUv_u1otr7xTIgg',
 '7DgiPahl1hHPrMqqvg-w4Q',
 '6gaLeLdbz24YrweZFojMlA',
 '41QmZpg4Wr-u8JGOkEg57w',
 '-HtIea_zR8rFR0k2PqOQPg',
 'mQBybwcVKq8rh94q059csA',
 '0YsGgoecQ4-xv4d3hIaX-Q',
 '7N_7QmfQZOjs-QcnJdBdNg',
 'nd0fTe86dIzViNRSwyXvWg',
 '4ga70zfSxZvtGeHPj2JrqQ',
 'L1CyyuGx_-v_VEL2qmnq9w',
 '6LI9dV5kPAPpuw1d0xsu0g',
 '5wXVIp3ruQvbcJ0RqEJ9Aw',
 '3ieaH020rh3SlG2kkrMvDQ',
 'nta1zZuaXXV5tXpXnIDwzA',
 '41KVHEvbue_uChJjb_xpcg',
 'n7frh-HYBIjyQsEFLCPPKQ',
 'oLNRcllOvVeS7gb1K5ZYKw',
 '3n7s-bEctjTzoS0_o5RRQQ',
 'o4VlQR8YT_El04HLo6uIDA',
 'l2P3wYw_3IXlZUtann6SZQ',
 'kVt5pmJMZZL5hyNlPiEKYQ',
 '4HV-T_q-GTTFWHZ9EIKYBA',
 '_8B40xRtabQop1QXbpGTtA',
 'mcYSw7M4JF5DGjgFwZEfGA',
 'OECoKohttuuqEP_d3UWePw',
 'kvV-rLlvpaQTMwEsI5UMog',
 '9U7iUberDG0J_QwQ7bFEMQ',
 '3QOtVFuy8rE8fG2bRwmOgw',
 'Jxi-uSP9L7zGH-h9OMD4hg',
 'oNrnjsjioCXh2g_g8maNnw',
 '6wUQ6PpzgISQYuok3WxMxA',
 '7kSbz00Lvw-4e8hGcimdBw',
 'KoL_tDHFD9G-NlW9M5DjpQ',
 '1Dnb4GFIPbx-MrbO5-syyg',
 'NP252-PKN49BVVM449CQ7Q',
 '5aouyg2O_ieDOW0c7g-WTA',
 'LK1HbJS0P4_6WolTSS3sbQ',
 '2YguKo256cgRB80AX0-9hg',
 'NWTnImwich2GUOSVKxkb5g',
 'nMRUqeiXZFfBi8SdZvDcqQ',
 '4Lg01nYWXmsR6DNVsPYdUw',
 'LWb40HDACgv9oeHN9H2rEQ',
 'Mf8Yoosm3buTHCiSxQqA2Q',
 '58z1l761Md064HW0uQvX6A',
 'NSthE_GhyCwpid5iEWIRqQ',
 '60Lplu6du9OBx66BZ1GcrA',
 '27H-FJTwH_QJFqVUEcGXzg',
 '9GL4E0qy0V1inKr0jM5kCQ',
 '_dTtSw6ApSU5Pc8kMPsaMA',
 '9Z0eUcLGxZUHIl6rak5Qbw',
 '0DQOFT7quDqKc7O1ZHCUCA',
 'jW7OiXN48JqWM3gpsQb9qg',
 'Kgw42uzl1TqjwDkEd8wAjQ',
 'KS2x_8ZB4AeIoObLshghIA',
 'Md_oXieDzElCk5FYTMbY4Q',
 '3d0VmUbd6b_BmZbmMxqIPQ',
 '4pvoBvbAfMqCyCV6u3aHSw',
 'Kbhg-39i3-MN2kl9u-C6_A',
 '1OqTY7M0DMSm01wTPmH1_w',
 'K7xO6keNK2BZ_2oWxgSmTQ',
 '6cwkvzMs7e8zJxt8X7oKUA',
 'M20P-Bi-8w0cVEYONroX2w',
 '5ydQWhbObFBgJFKjInSxzw',
 'O6OjCGNqAASEaQH8SAfyog',
 'jpdk1HFgaEVaR6k1a5SmUA',
 '59URqEZFO3CasnUMTRUq-A',
 '-xhFmn8bkchmdqhaoYPGCw',
 'oGPDl1RMgeb4mnEbULZERw',
 '3sJSaNlbJyHiEWJEENVB5A',
 'JIFK0iCjqkNdG_zrAvbrGw',
 'LG7sAIy51Sevf4ZxmuS22A',
 '9L4L8H5C5ZObWi187hDy_Q',
 '_a1d3bupKZ0bzKyUAUmh9w',
 'KwW2CmTvEfof7g5RtfApQQ',
 '7JPBDNXCpxatWvC5vtIANg']

In [103]:
df.head()

,photoId,value,businessId,caption,label,good,useful,photoIdOrig,norm
0,3kwfbrxc94yascxu5jesdg,1.000000,w_Cw1-80276SAhHw2LJqFQ,NaN,inside,0,0,3kWfBRXc94YASCXU5JESdg,1
1,_80kyh9a5cfng-rwwdr6ia,0.976911,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0,_80kyh9A5cFNG-RwwDR6iA,1
2,9move4mhyj-xk4x1cb6v6g,0.949955,mB_cI1tCrNxxvr2e2myNrQ,Want to get married? This is it!,outside,0,0,9MoVe4MHyj-XK4X1CB6V6g,1
3,6voizfypnm_xzak226e92a,0.875555,6lovZEiwWcRYRhyKd94DRg,fried pickles,food,0,1,6VOIZFYPnm_xZaK226e92A,1
4,jifk0icjqkndg_zravbrgw,0.871215,-9eNGMp8XiygI8t8QFuFWw,NaN,inside,0,0,JIFK0iCjqkNdG_zrAvbrGw,1

In [104]:
df1 = df[['photoIdOrig', 'norm']]

In [105]:
df1.head()

              photoIdOrig norm
0  3kWfBRXc94YASCXU5JESdg    1
1  _80kyh9A5cFNG-RwwDR6iA    1
2  9MoVe4MHyj-XK4X1CB6V6g    1
3  6VOIZFYPnm_xZaK226e92A    1
4  JIFK0iCjqkNdG_zrAvbrGw    1

In [109]:
df1['INI'] = 0

/home/nihira/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [110]:
df1.head()

              photoIdOrig norm  INI
0  3kWfBRXc94YASCXU5JESdg    1    0
1  _80kyh9A5cFNG-RwwDR6iA    1    0
2  9MoVe4MHyj-XK4X1CB6V6g    1    0
3  6VOIZFYPnm_xZaK226e92A    1    0
4  JIFK0iCjqkNdG_zrAvbrGw    1    0

In [111]:
df1.to_csv("NIMA_Labels.csv")

In [23]:
nima = pd.read_csv("NIMA_Labels.csv")

In [24]:
clarifai = pd.read_csv("clarifai.csv")

In [25]:
clarifai.head()

                      photoId      prob
0  5V7TdipB7U2nUu6wrJh71w.jpg  0.000000
1  27H-FJTwH_QJFqVUEcGXzg.jpg  0.993639
2  _TM-Dvt3qRoNVaMFylBXyA.jpg  0.990979
3  5RbtCqVvFTnOPAeV4yI1og.jpg  0.991222
4  loh3-FSJhTQJdl0YLF-rIQ.jpg  0.990084

In [26]:
nima.head()

   Unnamed: 0             photoIdOrig  norm  INI
0           0  3kWfBRXc94YASCXU5JESdg     1    0
1           1  _80kyh9A5cFNG-RwwDR6iA     1    0
2           2  9MoVe4MHyj-XK4X1CB6V6g     1    0
3           3  6VOIZFYPnm_xZaK226e92A     1    0
4           4  JIFK0iCjqkNdG_zrAvbrGw     1    0

In [27]:
clarifai['label'] = np.where(clarifai['prob']>=0.9, 1, 0)

In [28]:
clarifai.head()

                      photoId      prob  label
0  5V7TdipB7U2nUu6wrJh71w.jpg  0.000000      0
1  27H-FJTwH_QJFqVUEcGXzg.jpg  0.993639      1
2  _TM-Dvt3qRoNVaMFylBXyA.jpg  0.990979      1
3  5RbtCqVvFTnOPAeV4yI1og.jpg  0.991222      1
4  loh3-FSJhTQJdl0YLF-rIQ.jpg  0.990084      1

In [29]:
def label_race (row):
     return row['photoId'].split('.')[0]
clarifai['photoId'] = clarifai.apply (lambda row: label_race (row),axis=1)

In [30]:
clarifai.head()

                  photoId      prob  label
0  5V7TdipB7U2nUu6wrJh71w  0.000000      0
1  27H-FJTwH_QJFqVUEcGXzg  0.993639      1
2  _TM-Dvt3qRoNVaMFylBXyA  0.990979      1
3  5RbtCqVvFTnOPAeV4yI1og  0.991222      1
4  loh3-FSJhTQJdl0YLF-rIQ  0.990084      1

In [31]:
nima['photoId'] = nima['photoIdOrig']

In [36]:
nima.dtypes

Unnamed: 0      int64
photoIdOrig    object
norm            int64
INI             int64
photoId        object
dtype: object

In [33]:
nima.head()

   Unnamed: 0             photoIdOrig  norm  INI                 photoId
0           0  3kWfBRXc94YASCXU5JESdg     1    0  3kWfBRXc94YASCXU5JESdg
1           1  _80kyh9A5cFNG-RwwDR6iA     1    0  _80kyh9A5cFNG-RwwDR6iA
2           2  9MoVe4MHyj-XK4X1CB6V6g     1    0  9MoVe4MHyj-XK4X1CB6V6g
3           3  6VOIZFYPnm_xZaK226e92A     1    0  6VOIZFYPnm_xZaK226e92A
4           4  JIFK0iCjqkNdG_zrAvbrGw     1    0  JIFK0iCjqkNdG_zrAvbrGw

In [34]:
out = pd.merge(nima, clarifai, on="photoId")

In [35]:
out.head()

,Unnamed: 0,photoIdOrig,norm,INI,photoId,prob,label
0,0,3kWfBRXc94YASCXU5JESdg,1,0,3kWfBRXc94YASCXU5JESdg,0.859131,0
1,1,_80kyh9A5cFNG-RwwDR6iA,1,0,_80kyh9A5cFNG-RwwDR6iA,0.000000,0
2,2,9MoVe4MHyj-XK4X1CB6V6g,1,0,9MoVe4MHyj-XK4X1CB6V6g,0.000000,0
3,3,6VOIZFYPnm_xZaK226e92A,1,0,6VOIZFYPnm_xZaK226e92A,0.991034,1
4,4,JIFK0iCjqkNdG_zrAvbrGw,1,0,JIFK0iCjqkNdG_zrAvbrGw,0.000000,0

In [38]:
out.dtypes

Unnamed: 0       int64
photoIdOrig     object
norm             int64
INI              int64
photoId         object
prob           float64
label            int64
dtype: object

In [39]:
def label_race (row):
     return ((row['norm'])&(row['label']))
out['final'] = out.apply (lambda row: label_race (row),axis=1)

In [43]:
out.head()

,Unnamed: 0,photoIdOrig,norm,INI,photoId,prob,label,final
0,0,3kWfBRXc94YASCXU5JESdg,1,0,3kWfBRXc94YASCXU5JESdg,0.859131,0,0
1,1,_80kyh9A5cFNG-RwwDR6iA,1,0,_80kyh9A5cFNG-RwwDR6iA,0.000000,0,0
2,2,9MoVe4MHyj-XK4X1CB6V6g,1,0,9MoVe4MHyj-XK4X1CB6V6g,0.000000,0,0
3,3,6VOIZFYPnm_xZaK226e92A,1,0,6VOIZFYPnm_xZaK226e92A,0.991034,1,1
4,4,JIFK0iCjqkNdG_zrAvbrGw,1,0,JIFK0iCjqkNdG_zrAvbrGw,0.000000,0,0

In [47]:
out = out.drop(out.columns[0], axis=1)

In [49]:
out = out.drop(out.columns[0], axis=1)

In [51]:
out = out.drop(out.columns[0], axis=1)

In [53]:
out = out.drop(out.columns[2], axis=1)

In [55]:
out = out.drop(out.columns[2], axis=1)

In [57]:
out = out.drop(out.columns[0], axis=1)

In [58]:
out

                    photoId  final
0    3kWfBRXc94YASCXU5JESdg      0
1    _80kyh9A5cFNG-RwwDR6iA      0
2    9MoVe4MHyj-XK4X1CB6V6g      0
3    6VOIZFYPnm_xZaK226e92A      1
4    JIFK0iCjqkNdG_zrAvbrGw      0
5    o75bsf6D0LFU1mNMBmAEYg      0
6    5aouyg2O_ieDOW0c7g-WTA      0
7    5KP9YonP2i9DpmXTZUrDdQ      1
8    n1HRh9LjfDLaxb93DRshsw      1
9    Kbhg-39i3-MN2kl9u-C6_A      0
10   58z1l761Md064HW0uQvX6A      0
11   jrgO2P6MxRy9MnKurfJdcg      0
12   McnNRGO6UvxEAL2DBsrJbQ      1
13   _15wZGb3QONopTo5yiZ8Rg      0
14   _8B40xRtabQop1QXbpGTtA      1
15   jVMx9sS_eujTYPZ-CEab9A      0
16   nd0fTe86dIzViNRSwyXvWg      0
17   7ew5BOC6BZ5yVSTD2fTONg      1
18   71r8gdfP9lSCPF3h54neQA      1
19   0dF4QuO26y4FITKhuRvXmg      1
20   oBbkHIx8hYjRj8cIzGL6Lg      1
21   nn8Gq3PvWCTX5XKD0DRpJw      0
22   1QmX1tqFdlr09_CN9qKmoA      1
23   N77WnBJJ395qbB1F92COeg      0
24   nta1zZuaXXV5tXpXnIDwzA      0
25   KoL_tDHFD9G-NlW9M5DjpQ      1
26   1s9Q_w_mt6wnxHwYxIT2zw      0
27   jW7OiXN48JqWM3gpsQb9qg      0
28   oLNRcllOvVeS7gb1K5ZYKw      0
29   jj2TLGCke8xTJCBpmTv_FQ      1
..                      ...    ...
452  48NftPUI5AuqEYVdUcryPQ      0
453  O6QHwaeIZCc3ArQFmoDF3w      0
454  9fCO4r2m2cNSvDDxkW6MGA      0
455  jiDbHbkCKOUZ23DZerEXdw      0
456  lyWUR3WNAWzXdVCGj9b9KQ      0
457  mwckOWiGCQ7AUqFdF-10Tw      0
458  9VS6Fy2Z82wqGu9Ey5aB8w      0
459  ktExz1hvUQ7iAmtcNwvnpQ      0
460  MxmcFtgNd7OxaJdPiTctNA      0
461  KV4lmWq-7cVXiYRVHvQFsA      0
462  4fBoIorLr3pFMU_Tp4_JHw      0
463  kmouQnsx8cdBbwAtc-j0NA      0
464  o0ypaZkOK-ZuLPjs0-8qBg      0
465  0HigBG1m-mVt2rLcYsoHGA      0
466  JpetD2hRQsWM0a9fW45GnA      0
467  5gOM_SLc6xIEfNoCeZbdxw      0
468  m-PWC8ey-v0COStTPTEW7Q      0
469  0t2b6CwNv9mYEuKsyiHc3g      0
470  4cNQsJTziciMC_bDzUdEqg      0
471  3dxe_DDrOJC12yOafUILzw      0
472  9dVMTWkAL2mUaxwG04C5IA      0
473  kbMbTiT0BYU_DeejPptwWQ      0
474  9LofagZDbbkWfudVdrOw0w      0
475  OKF9gEGnN6meO_1UvOoUKQ      0
476  _Yu1jEA8xjRICta4JNLmpg      0
477  O-6fsHadeo3QpulCQBiS1Q      0
478  0FrbrDZOQK4-cTY-mOPckg      0
479  KoQqXcGIDfnJq6aSCJ27BQ      0
480  _RS-CoIEPsTLXMu1OvfE0A      0
481  Kv9z4CJh5RYPCyaEnqWJaw      0

[482 rows x 2 columns]

In [59]:
out.rename(columns={'photoId': 'photo_id', 'final': 'good'}, inplace=True)

In [60]:
out.head()

                 photo_id  good
0  3kWfBRXc94YASCXU5JESdg     0
1  _80kyh9A5cFNG-RwwDR6iA     0
2  9MoVe4MHyj-XK4X1CB6V6g     0
3  6VOIZFYPnm_xZaK226e92A     1
4  JIFK0iCjqkNdG_zrAvbrGw     0

In [61]:
out.to_csv("outAlex.csv")