# SMS Spam Collection Dataset

### Imports

In [1]:
import csv
import pandas as pd
import numpy as np
import io
import json
import string
import itertools
from __future__ import print_function

In [2]:

df = pd.read_json('yelp_academic_dataset_business.json', orient='columns', lines='true')

In [39]:
df.head()
df.tail()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
188588,"8000 McKnight Rd, Ste 570","{'AcceptsInsurance': 'False', 'BusinessAccepts...",sMQAZ3DkfrURFoJAyOhjEw,"Skin Care, Beauty & Spas, Day Spas, Massage",Pittsburgh,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",0,40.551152,-80.021213,Ross Massage,,15237,9,2.5,PA
188589,3341 Babcock Blvd,None,6hvuCibNS4uECetHb9MCQQ,"Fashion, Women's Clothing, Accessories, Bridal...",Pittsburgh,None,1,40.534242,-80.019556,Four Seasons Boutique,,15237,5,2.0,PA
188590,5825 Thunder Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...",KleCXFYOmdACcQUvf6_XEg,"Mobile Phones, Shopping, Department Stores, Fo...",Concord,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,35.378669,-80.724733,Walmart Supercenter,,28027,26,3.0,NC
188591,7601 Scott Padgett Pkwy,"{'BusinessAcceptsCreditCards': 'True', 'DogsAl...",3_fIsSxN2RBovQ_6EFtLzA,"Event Planning & Services, Hotels & Travel, Ho...",Concord,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",1,35.364366,-80.703454,Residence Inn Charlotte Concord,,28027,19,4.0,NC
188592,"3900 Paradise Rd, Ste R","{'BikeParking': 'True', 'BusinessAcceptsCredit...",NkOvIueadjFUxeCyq_uQEw,"Makeup Artists, Men's Clothing, Swimwear, Shop...",Las Vegas,"{'Tuesday': '11:0-19:0', 'Wednesday': '11:0-19...",1,36.118697,-115.154269,Tito Jimy Salon and Boutique,Eastside,89169,8,4.0,NV

In [42]:
categories = df.categories.unique()

In [43]:
categories.shape

(85057,)

In [46]:
categories[1:50]

array(['Chicken Wings, Burgers, Caterers, Street Vendors, Barbeque, Food Trucks, Food, Restaurants, Event Planning & Services',
       'Breakfast & Brunch, Restaurants, French, Sandwiches, Cafes',
       'Insurance, Financial Services',
       'Home & Garden, Nurseries & Gardening, Shopping, Local Services, Automotive, Electronics Repair',
       'Coffee & Tea, Food', 'Food, Bakeries', 'Restaurants, Thai',
       'Mexican, Restaurants', 'Flowers & Gifts, Gift Shops, Shopping',
       'Restaurants, Japanese', 'Cajun/Creole, Southern, Restaurants',
       'Bars, Sports Bars, Dive Bars, Burgers, Nightlife, Sandwiches, Restaurants',
       'Restaurants, Pakistani, Indian, Middle Eastern',
       'Beauty & Spas, Barbers', 'Delis, Restaurants, Sandwiches',
       'Nightlife, Bars, American (Traditional), Tapas/Small Plates, Poutineries, Supper Clubs, Restaurants, Tapas Bars',
       'Shopping, Fashion, Department Stores',
       'Financial Services, Check Cashing/Pay-day Loans, Title Loans',
       'American (Traditional), Food, Bakeries, Restaurants',
       'Home Services, Masonry/Concrete, Professional Services, Contractors',
       'Fast Food, Burgers, Restaurants',
       'Nightlife, Bars, American (Traditional), Sports Bars, Restaurants',
       'Food, Bakeries, Coffee & Tea',
       'Home Services, Home Automation, Security Systems',
       'Restaurants, Food, Canadian (New), Coffee & Tea',
       'Optometrists, Shopping, Eyewear & Opticians, Health & Medical',
       'Pizza, Restaurants',
       'Nightlife, Restaurants, Bars, Chicken Wings, American (Traditional)',
       'Shopping, Gardeners, Home Services, Nurseries & Gardening, Landscaping, Home & Garden, Landscape Architects',
       'Fast Food, Restaurants, Sandwiches',
       'Beer, Wine & Spirits, Italian, Food, American (Traditional), Breakfast & Brunch, Restaurants',
       'Health & Medical, Hair Salons, Skin Care, Hair Extensions, Medical Spas, Cryotherapy, Beauty & Spas',
       'Restaurants, Cafes', 'Ice Cream & Frozen Yogurt, Food',
       'Seafood, Restaurants',
       'Health & Medical, Physical Therapy, Retirement Homes',
       'Pizza, Fast Food, Restaurants',
       'Automotive, Auto Customization, Shopping, Auto Security, Car Stereo Installation, Electronics',
       'Coffee & Tea, Food, Breakfast & Brunch, Restaurants, Donuts',
       'Home Services, Shopping, Home & Garden, Kitchen & Bath, Interior Design',
       'Hotels, Hotels & Travel, Event Planning & Services',
       'Hair Salons, Beauty & Spas',
       'Flooring, Cabinetry, Refinishing Services, Home Services, Masonry/Concrete, Tiling, Plumbing, Contractors',
       'Grocery, Food',
       'Event Planning & Services, Soup, Salad, Mexican, Caterers, Restaurants',
       'Active Life, Trainers, Gyms, Sports Clubs, Fitness & Instruction',
       'Auto Repair, Automotive',
       'Thrift Stores, Shopping, Used, Vintage & Consignment, Antiques, Fashion, Auction Houses',
       'Public Services & Government, Landmarks & Historical Buildings'],
      dtype=object)

In [3]:
subset = df[df['categories'].str.contains("Restaurant")==True]

### Reading the created csv file

In [4]:
subset.shape

(57191, 15)

In [52]:
subset.categories

0         Tours, Breweries, Pizza, Restaurants, Food, Ho...
1         Chicken Wings, Burgers, Caterers, Street Vendo...
2         Breakfast & Brunch, Restaurants, French, Sandw...
7                                         Restaurants, Thai
8                                      Mexican, Restaurants
10                                    Restaurants, Japanese
11                      Cajun/Creole, Southern, Restaurants
12        Bars, Sports Bars, Dive Bars, Burgers, Nightli...
13           Restaurants, Pakistani, Indian, Middle Eastern
15                           Delis, Restaurants, Sandwiches
16        Nightlife, Bars, American (Traditional), Tapas...
19        American (Traditional), Food, Bakeries, Restau...
21                          Fast Food, Burgers, Restaurants
22        Nightlife, Bars, American (Traditional), Sport...
24                                     Mexican, Restaurants
25                                     Mexican, Restaurants
27          Restaurants, Food, Canadian (New), Coffee & Tea
29                                       Pizza, Restaurants
30        Nightlife, Restaurants, Bars, Chicken Wings, A...
32                       Fast Food, Restaurants, Sandwiches
33        Beer, Wine & Spirits, Italian, Food, American ...
35                                       Restaurants, Cafes
37                                     Seafood, Restaurants
39                            Pizza, Fast Food, Restaurants
41        Coffee & Tea, Food, Breakfast & Brunch, Restau...
47        Event Planning & Services, Soup, Salad, Mexica...
53        Bakeries, Food, Latin American, Restaurants, S...
57                                       Restaurants, Pizza
59                 Fast Food, Restaurants, Sandwiches, Food
61                                     Mexican, Restaurants
                                ...
188460    Hotels, Hotels & Travel, Event Planning & Serv...
188461      Restaurants, Fast Food, American (New), Chinese
188467                          Pizza, Restaurants, Italian
188470    Cinema, Event Planning & Services, Restaurants...
188471                                 Italian, Restaurants
188474                                 Chinese, Restaurants
188483                  Thai, Cambodian, Restaurants, Cafes
188484                          Latin American, Restaurants
188485    Juice Bars & Smoothies, Food Stands, Restauran...
188488    Casinos, Steakhouses, Bars, Nightlife, Restaur...
188491                                 Restaurants, Chinese
188496    Delis, Appliances, Pasta Shops, Grocery, Soup,...
188497                                    Restaurants, Thai
188504                    Sushi Bars, Restaurants, Japanese
188506    Greek, Restaurants, Diners, Southern, Desserts...
188511                     Sushi Bars, Restaurants, Mexican
188514    Dance Clubs, Chicken Wings, Bars, Sports Bars,...
188518                   Restaurants, Fast Food, Sandwiches
188519                                 Restaurants, Mexican
188520                   Sandwiches, Fast Food, Restaurants
188523                                   Restaurants, Pizza
188537    Hotels, Hotels & Travel, American (Traditional...
188538    Polish, Food, Specialty Food, Breakfast & Brun...
188543    Mediterranean, Turkish, Restaurants, Kebab, Greek
188560                                 Restaurants, Italian
188563                       Barbeque, Restaurants, Chinese
188567           Delis, Restaurants, American (Traditional)
188571                Chicken Wings, Fast Food, Restaurants
188577    American (Traditional), American (New), Restau...
188586    Restaurants, Indian, Caterers, Event Planning ...
Name: categories, Length: 57191, dtype: object

In [37]:
df2 = pd.read_json('yelp_academic_dataset_photo.json', orient='columns', lines='true')

In [38]:
df2.head()

,business_id,caption,label,photo_id
0,wRKYaVXTks43GVSI2awTQA,,food,IuXwafFH3fZlTyXA-poz0w
1,wRKYaVXTks43GVSI2awTQA,,food,vhnZ58_1shy9HNVdZgtMLw
2,wRKYaVXTks43GVSI2awTQA,,food,j9ad7H2IBEzhfNCuJu4ukg
3,wRKYaVXTks43GVSI2awTQA,,food,du-5X44HccQ9Zo3pQPiFgQ
4,wRKYaVXTks43GVSI2awTQA,The classic Farmer's Choice Breakfast has a li...,food,u7Tt1nvclYNoq3UOToP-GA

In [40]:
businesses = df2['business_id'].unique()

In [52]:
businesses.shape

(32976,)

In [44]:
sampleBusiness = pd.read_csv("sample_business.csv")

In [45]:
sampleBusiness.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,123605,"2293 N Pebble Creek Pkwy, Ste 101","{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...",qUPUCcBbn-ugXFSItXLmGw,"Restaurants, Sushi Bars, Japanese",Goodyear,"{'Monday': '16:0-21:0', 'Tuesday': '16:0-21:0'...",1,33.472091,-112.392014,Akai Hana Sushi & Grill,NaN,85338,188,3.5,AZ
1,89591,"775 W Craig Rd, Ste 148","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",HK2Ki-PvnNN-YMTlX1uSVA,"Hawaiian, Restaurants",North Las Vegas,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",0,36.237945,-115.152312,808 Hawaii Mixed Plate,NaN,89032,444,4.0,NV
2,140720,3600 S Las Vegas Blvd,"{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",UUGoM4q4i8rK2CBRS0xDAw,"Food, Coffee & Tea, Restaurants, Desserts, Cafes",Las Vegas,"{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ...",0,36.111946,-115.176877,Jean Philippe Patisserie,The Strip,89109,1222,4.0,NV
3,160915,69 Yorkville Avenue,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...",BJ9GwNMo8vIgSuKc6B_mOw,"Restaurants, Dim Sum, Chinese",Toronto,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",1,43.671054,-79.390955,Dynasty Chinese Cuisine,Yorkville,M5R 1B8,103,3.5,ON
4,182057,"6870 S Rainbow Blvd, Ste 101","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",kABF0hYfAEnl166mn1zR1A,"Szechuan, Chinese, Soup, Restaurants, Noodles,...",Las Vegas,"{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3...",1,36.063497,-115.241733,The Noodle Man,Spring Valley,89118,578,4.0,NV

In [46]:
sampleBusinesses = sampleBusiness['business_id']

In [51]:
sampleBusinesses.shape

(180,)

In [50]:
rest = np.setdiff1d(businesses, sampleBusinesses)

In [53]:
rest.shape

(32806,)

In [54]:
rest = rest.tolist()

In [75]:
ids = rest[:1600]

In [76]:
df2.head()

,business_id,caption,label,photo_id
0,wRKYaVXTks43GVSI2awTQA,,food,IuXwafFH3fZlTyXA-poz0w
1,wRKYaVXTks43GVSI2awTQA,,food,vhnZ58_1shy9HNVdZgtMLw
2,wRKYaVXTks43GVSI2awTQA,,food,j9ad7H2IBEzhfNCuJu4ukg
3,wRKYaVXTks43GVSI2awTQA,,food,du-5X44HccQ9Zo3pQPiFgQ
4,wRKYaVXTks43GVSI2awTQA,The classic Farmer's Choice Breakfast has a li...,food,u7Tt1nvclYNoq3UOToP-GA

In [77]:
df3 = df2[ df2.business_id.isin(ids)]

In [78]:
df3.shape

(13402, 4)

In [82]:
df3.to_csv("Final_sample_train_photos.csv", encoding="utf-8")

In [86]:
ids = rest[1601:1900]

In [87]:
df4 = df2[ df2.business_id.isin(ids)]

In [88]:
df4.shape

(2053, 4)

In [89]:
df4.to_csv("Final_sample_test_photos.csv", encoding="utf-8")

In [90]:
df4.head()

,business_id,caption,label,photo_id
126,2Hp-7pC5FkOpcS_utf-olg,McDonald's World Famous Fries®,food,4C6_eZ8t43Ub-o_or34IxQ
127,2Hp-7pC5FkOpcS_utf-olg,McDonald's Big Mac® Extra Value Meal,food,QVSiMHlgv82CEWWrJiFtgw
128,2Hp-7pC5FkOpcS_utf-olg,McDonald's All Day Breakfast Sandwiches,food,ySY39f98XCtbm6VXJ7ErbA
129,2Hp-7pC5FkOpcS_utf-olg,McDonald's Chicken McNuggets®,food,zDOyxD_Ac7q6M7jlNfi4XQ
130,2Hp-7pC5FkOpcS_utf-olg,McDonald's Quarter Pounder with Cheese Extra V...,food,Brf6CB-4i7ZjQBY4GLZtmw

In [57]:
sum(df2['review_count']>0)

57191

In [58]:
sum(df2['review_count']>10)

37438

In [59]:
sum(df2['review_count']>50)

16015

In [60]:
sum(df2['review_count']>100)

8850

In [61]:
sum(df2['review_count']>1000)

249

In [62]:
sum(df2['review_count']>1500)

89

In [63]:
sum(df2['review_count']>2000)

50

In [64]:
sum(df2['review_count']>2500)

31

In [65]:
sum(df2['review_count']>3000)

21

In [66]:
sum(df2['review_count']>3500)

14

In [67]:
sum(df2['review_count']>3800)

11

In [69]:
np.histogram(df2['review_count'])

(array([56786,   326,    47,    15,     8,     3,     3,     0,     1,
            2]),
 array([3.0000e+00, 7.9950e+02, 1.5960e+03, 2.3925e+03, 3.1890e+03,
        3.9855e+03, 4.7820e+03, 5.5785e+03, 6.3750e+03, 7.1715e+03,
        7.9680e+03]))

In [70]:
df3 = df2[df2['review_count']>100]

In [71]:
df3.shape

(8850, 15)

In [91]:
sampleBusiness = df3.sample(n=180, random_state=0)

In [92]:
sum(sampleBusiness['review_count'])

50219

In [98]:
businessIds = sampleBusiness['business_id'].tolist()

In [104]:
sampleReview = pd.DataFrame(columns=['review_id', 'user_id', 'business_id', 'stars', 'date', 'text', 'useful', 'funny', 'cool'])
count = 0
with open('yelp_academic_dataset_review.json', 'r') as f:
    for i, line in enumerate(f, start=1):
        if not (i % 10000):
            print(f'Parsed {i} lines')
        line_data = json.loads(line)
        if(line_data['business_id'] in businessIds):
            sampleReview.loc[count] = line_data
            count = count + 1

Parsed 10000 lines
Parsed 20000 lines
Parsed 30000 lines
Parsed 40000 lines
Parsed 50000 lines
Parsed 60000 lines
Parsed 70000 lines
Parsed 80000 lines
Parsed 90000 lines
Parsed 100000 lines
Parsed 110000 lines
Parsed 120000 lines
Parsed 130000 lines
Parsed 140000 lines
Parsed 150000 lines
Parsed 160000 lines
Parsed 170000 lines
Parsed 180000 lines
Parsed 190000 lines
Parsed 200000 lines
Parsed 210000 lines
Parsed 220000 lines
Parsed 230000 lines
Parsed 240000 lines
Parsed 250000 lines
Parsed 260000 lines
Parsed 270000 lines
Parsed 280000 lines
Parsed 290000 lines
Parsed 300000 lines
Parsed 310000 lines
Parsed 320000 lines
Parsed 330000 lines
Parsed 340000 lines
Parsed 350000 lines
Parsed 360000 lines
Parsed 370000 lines
Parsed 380000 lines
Parsed 390000 lines
Parsed 400000 lines
Parsed 410000 lines
Parsed 420000 lines
Parsed 430000 lines
Parsed 440000 lines
Parsed 450000 lines
Parsed 460000 lines
Parsed 470000 lines
Parsed 480000 lines
Parsed 490000 lines
Parsed 500000 lines
Parsed 510000 lines
Parsed 520000 lines
Parsed 530000 lines
Parsed 540000 lines
Parsed 550000 lines
Parsed 560000 lines
Parsed 570000 lines
Parsed 580000 lines
Parsed 590000 lines
Parsed 600000 lines
Parsed 610000 lines
Parsed 620000 lines
Parsed 630000 lines
Parsed 640000 lines
Parsed 650000 lines
Parsed 660000 lines
Parsed 670000 lines
Parsed 680000 lines
Parsed 690000 lines
Parsed 700000 lines
Parsed 710000 lines
Parsed 720000 lines
Parsed 730000 lines
Parsed 740000 lines
Parsed 750000 lines
Parsed 760000 lines
Parsed 770000 lines
Parsed 780000 lines
Parsed 790000 lines
Parsed 800000 lines
Parsed 810000 lines
Parsed 820000 lines
Parsed 830000 lines
Parsed 840000 lines
Parsed 850000 lines
Parsed 860000 lines
Parsed 870000 lines
Parsed 880000 lines
Parsed 890000 lines
Parsed 900000 lines
Parsed 910000 lines
Parsed 920000 lines
Parsed 930000 lines
Parsed 940000 lines
Parsed 950000 lines
Parsed 960000 lines
Parsed 970000 lines
Parsed 980000 lines
Parsed 990000 lines
Parsed 1000000 lines
Parsed 1010000 lines
Parsed 1020000 lines
Parsed 1030000 lines
Parsed 1040000 lines
Parsed 1050000 lines
Parsed 1060000 lines
Parsed 1070000 lines
Parsed 1080000 lines
Parsed 1090000 lines
Parsed 1100000 lines
Parsed 1110000 lines
Parsed 1120000 lines
Parsed 1130000 lines
Parsed 1140000 lines
Parsed 1150000 lines
Parsed 1160000 lines
Parsed 1170000 lines
Parsed 1180000 lines
Parsed 1190000 lines
Parsed 1200000 lines
Parsed 1210000 lines
Parsed 1220000 lines
Parsed 1230000 lines
Parsed 1240000 lines
Parsed 1250000 lines
Parsed 1260000 lines
Parsed 1270000 lines
Parsed 1280000 lines
Parsed 1290000 lines
Parsed 1300000 lines
Parsed 1310000 lines
Parsed 1320000 lines
Parsed 1330000 lines
Parsed 1340000 lines
Parsed 1350000 lines
Parsed 1360000 lines
Parsed 1370000 lines
Parsed 1380000 lines
Parsed 1390000 lines
Parsed 1400000 lines
Parsed 1410000 lines
Parsed 1420000 lines
Parsed 1430000 lines
Parsed 1440000 lines
Parsed 1450000 lines
Parsed 1460000 lines
Parsed 1470000 lines
Parsed 1480000 lines
Parsed 1490000 lines
Parsed 1500000 lines
Parsed 1510000 lines
Parsed 1520000 lines
Parsed 1530000 lines
Parsed 1540000 lines
Parsed 1550000 lines
Parsed 1560000 lines
Parsed 1570000 lines
Parsed 1580000 lines
Parsed 1590000 lines
Parsed 1600000 lines
Parsed 1610000 lines
Parsed 1620000 lines
Parsed 1630000 lines
Parsed 1640000 lines
Parsed 1650000 lines
Parsed 1660000 lines
Parsed 1670000 lines
Parsed 1680000 lines
Parsed 1690000 lines
Parsed 1700000 lines
Parsed 1710000 lines
Parsed 1720000 lines
Parsed 1730000 lines
Parsed 1740000 lines
Parsed 1750000 lines
Parsed 1760000 lines
Parsed 1770000 lines
Parsed 1780000 lines
Parsed 1790000 lines
Parsed 1800000 lines
Parsed 1810000 lines
Parsed 1820000 lines
Parsed 1830000 lines
Parsed 1840000 lines
Parsed 1850000 lines
Parsed 1860000 lines
Parsed 1870000 lines
Parsed 1880000 lines
Parsed 1890000 lines
Parsed 1900000 lines
Parsed 1910000 lines
Parsed 1920000 lines
Parsed 1930000 lines
Parsed 1940000 lines
Parsed 1950000 lines
Parsed 1960000 lines
Parsed 1970000 lines
Parsed 1980000 lines
Parsed 1990000 lines
Parsed 2000000 lines
Parsed 2010000 lines
Parsed 2020000 lines
Parsed 2030000 lines
Parsed 2040000 lines
Parsed 2050000 lines
Parsed 2060000 lines
Parsed 2070000 lines
Parsed 2080000 lines
Parsed 2090000 lines
Parsed 2100000 lines
Parsed 2110000 lines
Parsed 2120000 lines
Parsed 2130000 lines
Parsed 2140000 lines
Parsed 2150000 lines
Parsed 2160000 lines
Parsed 2170000 lines
Parsed 2180000 lines
Parsed 2190000 lines
Parsed 2200000 lines
Parsed 2210000 lines
Parsed 2220000 lines
Parsed 2230000 lines
Parsed 2240000 lines
Parsed 2250000 lines
Parsed 2260000 lines
Parsed 2270000 lines
Parsed 2280000 lines
Parsed 2290000 lines
Parsed 2300000 lines
Parsed 2310000 lines
Parsed 2320000 lines
Parsed 2330000 lines
Parsed 2340000 lines
Parsed 2350000 lines
Parsed 2360000 lines
Parsed 2370000 lines
Parsed 2380000 lines
Parsed 2390000 lines
Parsed 2400000 lines
Parsed 2410000 lines
Parsed 2420000 lines
Parsed 2430000 lines
Parsed 2440000 lines
Parsed 2450000 lines
Parsed 2460000 lines
Parsed 2470000 lines
Parsed 2480000 lines
Parsed 2490000 lines
Parsed 2500000 lines
Parsed 2510000 lines
Parsed 2520000 lines
Parsed 2530000 lines
Parsed 2540000 lines
Parsed 2550000 lines
Parsed 2560000 lines
Parsed 2570000 lines
Parsed 2580000 lines
Parsed 2590000 lines
Parsed 2600000 lines
Parsed 2610000 lines
Parsed 2620000 lines
Parsed 2630000 lines
Parsed 2640000 lines
Parsed 2650000 lines
Parsed 2660000 lines
Parsed 2670000 lines
Parsed 2680000 lines
Parsed 2690000 lines
Parsed 2700000 lines
Parsed 2710000 lines
Parsed 2720000 lines
Parsed 2730000 lines
Parsed 2740000 lines
Parsed 2750000 lines
Parsed 2760000 lines
Parsed 2770000 lines
Parsed 2780000 lines
Parsed 2790000 lines
Parsed 2800000 lines
Parsed 2810000 lines
Parsed 2820000 lines
Parsed 2830000 lines
Parsed 2840000 lines
Parsed 2850000 lines
Parsed 2860000 lines
Parsed 2870000 lines
Parsed 2880000 lines
Parsed 2890000 lines
Parsed 2900000 lines
Parsed 2910000 lines
Parsed 2920000 lines
Parsed 2930000 lines
Parsed 2940000 lines
Parsed 2950000 lines
Parsed 2960000 lines
Parsed 2970000 lines
Parsed 2980000 lines
Parsed 2990000 lines
Parsed 3000000 lines
Parsed 3010000 lines
Parsed 3020000 lines
Parsed 3030000 lines
Parsed 3040000 lines
Parsed 3050000 lines
Parsed 3060000 lines
Parsed 3070000 lines
Parsed 3080000 lines
Parsed 3090000 lines
Parsed 3100000 lines
Parsed 3110000 lines
Parsed 3120000 lines
Parsed 3130000 lines
Parsed 3140000 lines
Parsed 3150000 lines
Parsed 3160000 lines
Parsed 3170000 lines
Parsed 3180000 lines
Parsed 3190000 lines
Parsed 3200000 lines
Parsed 3210000 lines
Parsed 3220000 lines
Parsed 3230000 lines
Parsed 3240000 lines
Parsed 3250000 lines
Parsed 3260000 lines
Parsed 3270000 lines
Parsed 3280000 lines
Parsed 3290000 lines
Parsed 3300000 lines
Parsed 3310000 lines
Parsed 3320000 lines
Parsed 3330000 lines
Parsed 3340000 lines
Parsed 3350000 lines
Parsed 3360000 lines
Parsed 3370000 lines
Parsed 3380000 lines
Parsed 3390000 lines
Parsed 3400000 lines
Parsed 3410000 lines
Parsed 3420000 lines
Parsed 3430000 lines
Parsed 3440000 lines
Parsed 3450000 lines
Parsed 3460000 lines
Parsed 3470000 lines
Parsed 3480000 lines
Parsed 3490000 lines
Parsed 3500000 lines
Parsed 3510000 lines
Parsed 3520000 lines
Parsed 3530000 lines
Parsed 3540000 lines
Parsed 3550000 lines
Parsed 3560000 lines
Parsed 3570000 lines
Parsed 3580000 lines
Parsed 3590000 lines
Parsed 3600000 lines
Parsed 3610000 lines
Parsed 3620000 lines
Parsed 3630000 lines
Parsed 3640000 lines
Parsed 3650000 lines
Parsed 3660000 lines
Parsed 3670000 lines
Parsed 3680000 lines
Parsed 3690000 lines
Parsed 3700000 lines
Parsed 3710000 lines
Parsed 3720000 lines
Parsed 3730000 lines
Parsed 3740000 lines
Parsed 3750000 lines
Parsed 3760000 lines
Parsed 3770000 lines
Parsed 3780000 lines
Parsed 3790000 lines
Parsed 3800000 lines
Parsed 3810000 lines
Parsed 3820000 lines
Parsed 3830000 lines
Parsed 3840000 lines
Parsed 3850000 lines
Parsed 3860000 lines
Parsed 3870000 lines
Parsed 3880000 lines
Parsed 3890000 lines
Parsed 3900000 lines
Parsed 3910000 lines
Parsed 3920000 lines
Parsed 3930000 lines
Parsed 3940000 lines
Parsed 3950000 lines
Parsed 3960000 lines

Parsed 3970000 lines
Parsed 3980000 lines
Parsed 3990000 lines
Parsed 4000000 lines
Parsed 4010000 lines
Parsed 4020000 lines
Parsed 4030000 lines
Parsed 4040000 lines
Parsed 4050000 lines
Parsed 4060000 lines
Parsed 4070000 lines
Parsed 4080000 lines
Parsed 4090000 lines
Parsed 4100000 lines
Parsed 4110000 lines
Parsed 4120000 lines
Parsed 4130000 lines
Parsed 4140000 lines
Parsed 4150000 lines
Parsed 4160000 lines
Parsed 4170000 lines
Parsed 4180000 lines
Parsed 4190000 lines
Parsed 4200000 lines
Parsed 4210000 lines
Parsed 4220000 lines
Parsed 4230000 lines
Parsed 4240000 lines
Parsed 4250000 lines
Parsed 4260000 lines
Parsed 4270000 lines
Parsed 4280000 lines
Parsed 4290000 lines
Parsed 4300000 lines
Parsed 4310000 lines
Parsed 4320000 lines
Parsed 4330000 lines
Parsed 4340000 lines
Parsed 4350000 lines
Parsed 4360000 lines
Parsed 4370000 lines
Parsed 4380000 lines
Parsed 4390000 lines
Parsed 4400000 lines
Parsed 4410000 lines
Parsed 4420000 lines
Parsed 4430000 lines
Parsed 4440000 lines
Parsed 4450000 lines
Parsed 4460000 lines
Parsed 4470000 lines
Parsed 4480000 lines
Parsed 4490000 lines
Parsed 4500000 lines
Parsed 4510000 lines
Parsed 4520000 lines
Parsed 4530000 lines
Parsed 4540000 lines
Parsed 4550000 lines
Parsed 4560000 lines
Parsed 4570000 lines
Parsed 4580000 lines
Parsed 4590000 lines
Parsed 4600000 lines
Parsed 4610000 lines
Parsed 4620000 lines
Parsed 4630000 lines
Parsed 4640000 lines
Parsed 4650000 lines
Parsed 4660000 lines
Parsed 4670000 lines
Parsed 4680000 lines
Parsed 4690000 lines
Parsed 4700000 lines
Parsed 4710000 lines
Parsed 4720000 lines
Parsed 4730000 lines
Parsed 4740000 lines
Parsed 4750000 lines
Parsed 4760000 lines
Parsed 4770000 lines
Parsed 4780000 lines
Parsed 4790000 lines
Parsed 4800000 lines
Parsed 4810000 lines
Parsed 4820000 lines
Parsed 4830000 lines
Parsed 4840000 lines
Parsed 4850000 lines
Parsed 4860000 lines
Parsed 4870000 lines
Parsed 4880000 lines
Parsed 4890000 lines
Parsed 4900000 lines
Parsed 4910000 lines
Parsed 4920000 lines
Parsed 4930000 lines
Parsed 4940000 lines
Parsed 4950000 lines
Parsed 4960000 lines
Parsed 4970000 lines
Parsed 4980000 lines
Parsed 4990000 lines
Parsed 5000000 lines
Parsed 5010000 lines
Parsed 5020000 lines
Parsed 5030000 lines
Parsed 5040000 lines
Parsed 5050000 lines
Parsed 5060000 lines
Parsed 5070000 lines
Parsed 5080000 lines
Parsed 5090000 lines
Parsed 5100000 lines
Parsed 5110000 lines
Parsed 5120000 lines
Parsed 5130000 lines
Parsed 5140000 lines
Parsed 5150000 lines
Parsed 5160000 lines
Parsed 5170000 lines
Parsed 5180000 lines
Parsed 5190000 lines
Parsed 5200000 lines
Parsed 5210000 lines
Parsed 5220000 lines
Parsed 5230000 lines
Parsed 5240000 lines
Parsed 5250000 lines
Parsed 5260000 lines
Parsed 5270000 lines
Parsed 5280000 lines
Parsed 5290000 lines
Parsed 5300000 lines
Parsed 5310000 lines
Parsed 5320000 lines
Parsed 5330000 lines
Parsed 5340000 lines
Parsed 5350000 lines
Parsed 5360000 lines
Parsed 5370000 lines
Parsed 5380000 lines
Parsed 5390000 lines
Parsed 5400000 lines
Parsed 5410000 lines
Parsed 5420000 lines
Parsed 5430000 lines
Parsed 5440000 lines
Parsed 5450000 lines
Parsed 5460000 lines
Parsed 5470000 lines
Parsed 5480000 lines
Parsed 5490000 lines
Parsed 5500000 lines
Parsed 5510000 lines
Parsed 5520000 lines
Parsed 5530000 lines
Parsed 5540000 lines
Parsed 5550000 lines
Parsed 5560000 lines
Parsed 5570000 lines
Parsed 5580000 lines
Parsed 5590000 lines
Parsed 5600000 lines
Parsed 5610000 lines
Parsed 5620000 lines
Parsed 5630000 lines
Parsed 5640000 lines
Parsed 5650000 lines
Parsed 5660000 lines
Parsed 5670000 lines
Parsed 5680000 lines
Parsed 5690000 lines
Parsed 5700000 lines
Parsed 5710000 lines
Parsed 5720000 lines
Parsed 5730000 lines
Parsed 5740000 lines
Parsed 5750000 lines
Parsed 5760000 lines
Parsed 5770000 lines
Parsed 5780000 lines
Parsed 5790000 lines
Parsed 5800000 lines
Parsed 5810000 lines
Parsed 5820000 lines
Parsed 5830000 lines
Parsed 5840000 lines
Parsed 5850000 lines
Parsed 5860000 lines
Parsed 5870000 lines
Parsed 5880000 lines
Parsed 5890000 lines
Parsed 5900000 lines
Parsed 5910000 lines
Parsed 5920000 lines
Parsed 5930000 lines
Parsed 5940000 lines
Parsed 5950000 lines
Parsed 5960000 lines
Parsed 5970000 lines
Parsed 5980000 lines
Parsed 5990000 lines

In [112]:
sampleReviews = sampleReview

In [113]:
sampleReviews.shape

(50218, 9)

In [115]:
sampleReviews.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,jsDu6QEJHbwP2Blom1PLCA,msQe1u7Z_XuqjGoqhB0J5g,Ums3gaP2qM3W1XcA5r6SsQ,5,2014-09-05,Delicious healthy food. The steak is amazing. ...,0,0,0
1,5k9F53Lanw09xR3nwCdRYg,Yy_iGXxLpL6tYDQoE-6XVg,7wHLFohwCw8l6WS-feLjeg,5,2017-04-05,I had an amazing time here. They were very bus...,1,0,1
2,4KbJXuf8H2pGQnUatmc1LQ,OQT9DjfBrzrwOEdVJjuYIA,--cZ6Hhc9F7VkKXxHMVZSQ,5,2012-12-19,Our family of five got the Latin Combo-- full ...,1,0,0
3,Cn6gKCsMCjapKE0AaPAWBA,AuIK5tF2GjO7SftHawTLKw,Gaq3S9lmjXVcuDCZ8ulppw,5,2009-08-06,I just love sushi so I'm biased when it comes ...,0,0,0
4,fKPRKvImyawPSPw_5ie12A,UGW-9bbBEB3eP1o6mWD_WA,TgcjQfl1E9DE-SjDVOUDJQ,3,2013-07-23,The space is very small but it's nice for grou...,2,0,1

In [116]:
userIds = sampleReviews['user_id'].tolist()

In [117]:
sampleUsers = pd.DataFrame(columns=['user_id', 'name', 'review_count', 'yelping_since', 'friends', 'useful', 'funny', 'cool', 'fans', 'elite', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos'])
count = 0
with open('yelp_academic_dataset_user.json', 'r') as f:
    for i, line in enumerate(f, start=1):
        if not (i % 10000):
            print(f'Parsed {i} lines')
        line_data = json.loads(line)
        if(line_data['user_id'] in userIds):
            sampleUsers.loc[count] = line_data
            count = count + 1

Parsed 10000 lines
Parsed 20000 lines
Parsed 30000 lines
Parsed 40000 lines
Parsed 50000 lines
Parsed 60000 lines
Parsed 70000 lines
Parsed 80000 lines
Parsed 90000 lines
Parsed 100000 lines
Parsed 110000 lines
Parsed 120000 lines
Parsed 130000 lines
Parsed 140000 lines
Parsed 150000 lines
Parsed 160000 lines
Parsed 170000 lines
Parsed 180000 lines
Parsed 190000 lines
Parsed 200000 lines
Parsed 210000 lines
Parsed 220000 lines
Parsed 230000 lines
Parsed 240000 lines
Parsed 250000 lines
Parsed 260000 lines
Parsed 270000 lines
Parsed 280000 lines
Parsed 290000 lines
Parsed 300000 lines
Parsed 310000 lines
Parsed 320000 lines
Parsed 330000 lines
Parsed 340000 lines
Parsed 350000 lines
Parsed 360000 lines
Parsed 370000 lines
Parsed 380000 lines
Parsed 390000 lines
Parsed 400000 lines
Parsed 410000 lines
Parsed 420000 lines
Parsed 430000 lines
Parsed 440000 lines
Parsed 450000 lines
Parsed 460000 lines
Parsed 470000 lines
Parsed 480000 lines
Parsed 490000 lines
Parsed 500000 lines
Parsed 510000 lines
Parsed 520000 lines
Parsed 530000 lines
Parsed 540000 lines
Parsed 550000 lines
Parsed 560000 lines
Parsed 570000 lines
Parsed 580000 lines
Parsed 590000 lines
Parsed 600000 lines
Parsed 610000 lines
Parsed 620000 lines
Parsed 630000 lines
Parsed 640000 lines
Parsed 650000 lines
Parsed 660000 lines
Parsed 670000 lines
Parsed 680000 lines
Parsed 690000 lines
Parsed 700000 lines
Parsed 710000 lines
Parsed 720000 lines
Parsed 730000 lines
Parsed 740000 lines
Parsed 750000 lines
Parsed 760000 lines
Parsed 770000 lines
Parsed 780000 lines
Parsed 790000 lines
Parsed 800000 lines
Parsed 810000 lines
Parsed 820000 lines
Parsed 830000 lines
Parsed 840000 lines
Parsed 850000 lines
Parsed 860000 lines
Parsed 870000 lines
Parsed 880000 lines
Parsed 890000 lines
Parsed 900000 lines
Parsed 910000 lines
Parsed 920000 lines
Parsed 930000 lines
Parsed 940000 lines
Parsed 950000 lines
Parsed 960000 lines
Parsed 970000 lines
Parsed 980000 lines
Parsed 990000 lines
Parsed 1000000 lines
Parsed 1010000 lines
Parsed 1020000 lines
Parsed 1030000 lines
Parsed 1040000 lines
Parsed 1050000 lines
Parsed 1060000 lines
Parsed 1070000 lines
Parsed 1080000 lines
Parsed 1090000 lines
Parsed 1100000 lines
Parsed 1110000 lines
Parsed 1120000 lines
Parsed 1130000 lines
Parsed 1140000 lines
Parsed 1150000 lines
Parsed 1160000 lines
Parsed 1170000 lines
Parsed 1180000 lines
Parsed 1190000 lines
Parsed 1200000 lines
Parsed 1210000 lines
Parsed 1220000 lines
Parsed 1230000 lines
Parsed 1240000 lines
Parsed 1250000 lines
Parsed 1260000 lines
Parsed 1270000 lines
Parsed 1280000 lines
Parsed 1290000 lines
Parsed 1300000 lines
Parsed 1310000 lines
Parsed 1320000 lines
Parsed 1330000 lines
Parsed 1340000 lines
Parsed 1350000 lines
Parsed 1360000 lines
Parsed 1370000 lines
Parsed 1380000 lines
Parsed 1390000 lines
Parsed 1400000 lines
Parsed 1410000 lines
Parsed 1420000 lines
Parsed 1430000 lines
Parsed 1440000 lines
Parsed 1450000 lines
Parsed 1460000 lines
Parsed 1470000 lines
Parsed 1480000 lines
Parsed 1490000 lines
Parsed 1500000 lines
Parsed 1510000 lines

In [118]:
sampleUsers.shape

(43332, 22)

In [119]:
sampleUsers.head()

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,DMJfDuXSswX9Gyt1UcmJpw,Leo,2,2015-08-21,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
1,N8rnN-vBSKICcTMlhLgNOw,Bingo,18,2014-01-27,None,7,2,2,0,None,...,0,0,0,0,0,0,0,0,0,0
2,3iNM5vT33PhjmXC7jglusw,Brian,6,2013-05-31,None,0,1,0,0,None,...,0,0,0,0,0,0,0,0,0,0
3,SS5qLDpUkrHmvvlMTo0KCw,Rick,4,2015-05-25,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
4,e_S4E7aa7k47YrDsui_XGA,Susan,14,2013-09-10,None,2,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0

In [120]:
sampleUsers.to_csv("sample_users.csv")

In [121]:
sampleReviews.to_csv("sample_reviews.csv")

In [122]:
sampleBusiness.to_csv("sample_business.csv")

In [123]:

samB = pd.read_csv('sample_business.csv')

In [124]:
samB.shape

(180, 16)

In [129]:
samB.head()

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,123605,"2293 N Pebble Creek Pkwy, Ste 101","{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...",qUPUCcBbn-ugXFSItXLmGw,"Restaurants, Sushi Bars, Japanese",Goodyear,"{'Monday': '16:0-21:0', 'Tuesday': '16:0-21:0'...",1,33.472091,-112.392014,Akai Hana Sushi & Grill,NaN,85338,188,3.5,AZ
1,89591,"775 W Craig Rd, Ste 148","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",HK2Ki-PvnNN-YMTlX1uSVA,"Hawaiian, Restaurants",North Las Vegas,"{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'...",0,36.237945,-115.152312,808 Hawaii Mixed Plate,NaN,89032,444,4.0,NV
2,140720,3600 S Las Vegas Blvd,"{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",UUGoM4q4i8rK2CBRS0xDAw,"Food, Coffee & Tea, Restaurants, Desserts, Cafes",Las Vegas,"{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ...",0,36.111946,-115.176877,Jean Philippe Patisserie,The Strip,89109,1222,4.0,NV
3,160915,69 Yorkville Avenue,"{'Alcohol': 'full_bar', 'Ambience': ""{'romanti...",BJ9GwNMo8vIgSuKc6B_mOw,"Restaurants, Dim Sum, Chinese",Toronto,"{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",1,43.671054,-79.390955,Dynasty Chinese Cuisine,Yorkville,M5R 1B8,103,3.5,ON
4,182057,"6870 S Rainbow Blvd, Ste 101","{'Alcohol': 'none', 'Ambience': ""{'romantic': ...",kABF0hYfAEnl166mn1zR1A,"Szechuan, Chinese, Soup, Restaurants, Noodles,...",Las Vegas,"{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3...",1,36.063497,-115.241733,The Noodle Man,Spring Valley,89118,578,4.0,NV

In [125]:
samU = pd.read_csv('sample_users.csv')

In [126]:
samU.shape

(43332, 23)

In [130]:
samU.head()

,Unnamed: 0,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,0,DMJfDuXSswX9Gyt1UcmJpw,Leo,2,2015-08-21,None,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,N8rnN-vBSKICcTMlhLgNOw,Bingo,18,2014-01-27,None,7,2,2,0,...,0,0,0,0,0,0,0,0,0,0
2,2,3iNM5vT33PhjmXC7jglusw,Brian,6,2013-05-31,None,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,SS5qLDpUkrHmvvlMTo0KCw,Rick,4,2015-05-25,None,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,e_S4E7aa7k47YrDsui_XGA,Susan,14,2013-09-10,None,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
samR = pd.read_csv('sample_reviews.csv')

In [128]:
samR.shape

(50218, 10)

In [131]:
samR.head()

,Unnamed: 0,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,0,jsDu6QEJHbwP2Blom1PLCA,msQe1u7Z_XuqjGoqhB0J5g,Ums3gaP2qM3W1XcA5r6SsQ,5,2014-09-05,Delicious healthy food. The steak is amazing. ...,0,0,0
1,1,5k9F53Lanw09xR3nwCdRYg,Yy_iGXxLpL6tYDQoE-6XVg,7wHLFohwCw8l6WS-feLjeg,5,2017-04-05,I had an amazing time here. They were very bus...,1,0,1
2,2,4KbJXuf8H2pGQnUatmc1LQ,OQT9DjfBrzrwOEdVJjuYIA,--cZ6Hhc9F7VkKXxHMVZSQ,5,2012-12-19,Our family of five got the Latin Combo-- full ...,1,0,0
3,3,Cn6gKCsMCjapKE0AaPAWBA,AuIK5tF2GjO7SftHawTLKw,Gaq3S9lmjXVcuDCZ8ulppw,5,2009-08-06,I just love sushi so I'm biased when it comes ...,0,0,0
4,4,fKPRKvImyawPSPw_5ie12A,UGW-9bbBEB3eP1o6mWD_WA,TgcjQfl1E9DE-SjDVOUDJQ,3,2013-07-23,The space is very small but it's nice for grou...,2,0,1

In [2]:

df = pd.read_json('yelp_academic_dataset_photo.json', orient='columns', lines='true')

In [13]:

samB = pd.read_csv('sample_business.csv')

In [9]:
samB1 = samB.sample(n=90, random_state=0)

In [15]:
samB.shape

(180, 16)

In [16]:
businessIds = samB['business_id'].tolist()

In [17]:
samplePhotos = pd.DataFrame(columns=['photo_id', 'business_id', 'caption', 'label'])
count = 0
with open('yelp_academic_dataset_photo.json', 'r') as f:
    for i, line in enumerate(f, start=1):
#         if not (i % 10000):
#             print(f'Parsed {i} lines')
        line_data = json.loads(line)
        if(line_data['business_id'] in businessIds):
            samplePhotos.loc[count] = line_data
            count = count + 1

In [18]:
samplePhotos.shape

(3300, 4)

In [19]:
samplePhotos.to_csv("samplePhotos.csv", encoding='utf-8')

In [20]:
samplePhotos.head()

                 photo_id             business_id    caption    label
0  Yli9rVDJ0kvKwD13UPZGkg  0FrYsoVHheQGoXEQsH2d2Q              inside
1  YvuBGdWDo7YdNYQvUS-nBw  0FrYsoVHheQGoXEQsH2d2Q              inside
2  UjIhvZWwwTM28bEaKhlbpA  0FrYsoVHheQGoXEQsH2d2Q             outside
3  d0gFdEiHuRI6zktBaAyigw  0FrYsoVHheQGoXEQsH2d2Q  Truffles!     food
4  ohA-ebWajAcMsdytXf1HGA  0FrYsoVHheQGoXEQsH2d2Q      Cake!     food

In [ ]:
samB = pd.read_csv('sample_business.csv')

In [21]:
photos = pd.read_csv("samplePhotos.csv")

In [22]:
photos.head()

,Unnamed: 0,photo_id,business_id,caption,label
0,0,Yli9rVDJ0kvKwD13UPZGkg,0FrYsoVHheQGoXEQsH2d2Q,NaN,inside
1,1,YvuBGdWDo7YdNYQvUS-nBw,0FrYsoVHheQGoXEQsH2d2Q,NaN,inside
2,2,UjIhvZWwwTM28bEaKhlbpA,0FrYsoVHheQGoXEQsH2d2Q,NaN,outside
3,3,d0gFdEiHuRI6zktBaAyigw,0FrYsoVHheQGoXEQsH2d2Q,Truffles!,food
4,4,ohA-ebWajAcMsdytXf1HGA,0FrYsoVHheQGoXEQsH2d2Q,Cake!,food

In [23]:
completePhotoIds = photos['photo_id']

In [24]:
len(completePhotoIds)

3300

In [25]:
df1 = pd.read_csv('labeledDataset.csv', sep=",")

In [26]:
df1 = df1.drop_duplicates(subset='photoId', keep="last")

In [27]:
df1.head()

,sno,photoId,businessId,caption,label,good,useful
0,1124,_15wZGb3QONopTo5yiZ8Rg,ZDDzKXN_JXe7694zePRuTQ,Seating,inside,0,0.0
1,1142,_80kyh9A5cFNG-RwwDR6iA,1qwkbN3wu3AGDxMTXVz2gA,Sunset from the front door,outside,0,0.0
2,1177,_8B40xRtabQop1QXbpGTtA,TKp9PDs8jFbshfg6xOcM6A,NaN,food,1,1.0
3,1107,_8tN02g8wArjtdcu1e7Fnw,wPiRP76arN0NB3M1ZXXp7g,NaN,inside,0,0.0
4,576,_a1d3bupKZ0bzKyUAUmh9w,JhRxDdmZSGDG_u7cGxaYrw,NaN,outside,0,0.0

In [28]:
labeledPhotoIds = df1['photoId']

In [29]:
len(labeledPhotoIds)

482

In [30]:
# trainSet = [x for x in completePhotoIds if x not in labeledPhotoIds]

In [31]:
len(trainSet)

3300

In [34]:
x = set(completePhotoIds)-set(labeledPhotoIds)

In [35]:
len(x)

2818

In [36]:
x

{'FKuwjWvdg4Oz4HIYFvISZg',
 'QoEDuXEz37s5KE37jH90VQ',
 'AoQgpG_YoYsDh5Mc7JapxQ',
 'IxkOM-n-2RcKehqG_3Uhsw',
 'W0p8eIAPmZxMqt4dklAqhA',
 'b8M37kDMbKm-fxfPHUeZSA',
 'D5oiFC4R6kIVMjLxqeXgWw',
 'CIzd3Zkzh-S0aMq4AGCC9g',
 'yvfKZ8qOjFCFcMzbOluy8g',
 'FJ_C7Oj87VysbKyWQNQO1w',
 'I3NJMKhi_tLr7XuojGS9uA',
 'sf-BC6XYXF3E9gz_I4G7xA',
 'rS8VAyNJxergipZbPiwEvw',
 '7-cR4ghCtIHzC_-wOMRWwQ',
 'ti3VT3_AaZJKdoJW5c0SVw',
 'qVCCt00XnxiOFroAVpc6uA',
 'Gl-93HFFrMoOGW5HxX2ZEQ',
 'EuJ5_7WBlzZNjabRN9652A',
 'ISJuZvAHUgBk5E6y5LhWVg',
 'Ep2rFhWD9EMlSLnVYFMQcQ',
 'kpcss_ASQp7JE_kTp9hhuQ',
 'z7RksnyJG3NAB5wVhMHobw',
 'kN4KdPNITRaZ-MHi263H3Q',
 'TVavK2lUASCGsVUGvB5khg',
 'qidlflKhdevMImfHalE14w',
 'ullbUSfu-aPKQx2yplxzVw',
 'OtDtLOKIyqqcbmXCfpKyPA',
 'bOnEnJZtqhWGyEFZYZ6nxQ',
 'BZJrdH4Sy6VYpvhQric2mw',
 'TCBW5QXC5hqqgVWQLq5nrg',
 '6qZNT5b4f0AvHblHMSiWgA',
 'SpnVKxuK-BRwousl-xU_xA',
 'YAPnlCsLMghE5g7K1gP2EQ',
 'M2UWksEKpAtUZRAThpEtYA',
 'IaBIEDGXnaQp3g-qaKjm7w',
 '5vH1LVV1GVI2HgDJ2pSQ_g',
 'pAgpff_7KBB5vEucoMxD9g',
 'FG2Cc_J5gjJIXWLx-I3T3A',
 'Vuxz1tz_EtKR_FXa3SEmng',
 'KR30TSqlASHmoYzFxU8gUg',
 'IIdkUZbKzvHwagChC8g4Gw',
 'aBBAR7v5kQwrEitk29m_4Q',
 '3c9hvnG-7NPZRYHtLqzsRQ',
 'Hpf-jbacjF_Qf7mVsy8GHg',
 'u5CfENzDSLgIHm81T2zzpw',
 'v93ugo_6uPScR35LUsN5Bg',
 'mHT-499s33oBotzi3ZPqyw',
 'zqu1pQRGZudA45w8Kk6cDQ',
 '211Mn-h7B-yZZHodrgHojg',
 'yesowTgZ4FvXrq3wqqds9Q',
 '03-bmmc-U57Px5K1I_lbiQ',
 'jY7mgdfaaqfEXbcMDa-z1A',
 'OgI2AC7dBWhdTt_lrxNx_A',
 'XlwFatHANYRmDajwb3BD5Q',
 'j3nP_Az0bVj794aS3PFKsw',
 '8NGUNcD5Ar7WKmEl9Ou8wQ',
 'R8XperKwp7gvWXHNF_Erdg',
 'ZrxGn7IrTtbtvbNpR3vcGA',
 'wHyNBXDdWyQ8sz01ayQTTA',
 'CdJaShTfFe9khozXxZ0NYQ',
 'uCUlOgxv2q7IMwyd-vPg8w',
 'rzs8LOk8MYiEKHCx8E5usA',
 'U9PAnRZzzseANqba_00CCw',
 'El_eIG_B6d-RqTCe2ypMMQ',
 'lUn4WNHA5h_QJN-rIba86g',
 'JabXOXGBOPD1MsHufWM2ig',
 'sQ44zod6gKIOQLnl835BNQ',
 'l2_fiQgVw2oQwxNy_ypnJA',
 'Aw60fOnivvRan69Li-DwUQ',
 'TZ5Vr_70D3Hog7gWXiUq3Q',
 '8SMq0FINYqBJYNnf0tB1Jw',
 '1UDviM3BiuPvPUWFhIN6Dw',
 'TcJy00DY0I0RodYydMyJ3Q',
 'WO7TjokkPQPKLM_ocwwbCw',
 'xygQEH1aNZRfaeRkENXPhA',
 'hEGnzmFNb06Bkm5RAR4vnQ',
 'ToFGtIKTKHnHUdcL7mlJSA',
 'qcLVYCDyBkKP-lRrNGnF9A',
 'vzHeLb7Alr_nW7e0OE-x8w',
 'GdxfxkymLMjkcxs31UuKpA',
 'q5skABEAfTz6Es3brGUZiw',
 'ErvCsE2owOwF22JkESthFA',
 'YQ5pD3lQiDWkSqB4Lje1dg',
 'NffkG60musIOm6PvbGx-dw',
 'elzhp-CZMxEhhk43PDBvbg',
 'ulAMvxFoVWM39RM8ldjGXQ',
 'HYzg1EjoaK0i91uyRCR-Ew',
 'Ij_m7BAoXn39CiYCRY9Zhw',
 '6k6L4D7aVrPJYoemQoqUjw',
 'V0NJBrAHKC4e9r-uSPb3Ww',
 'yUZKbRTaHU_h3HrpPnpdvg',
 'U7ONwKz0LWIjkGr4dOI-_g',
 'HHO5CLw_ZO8YIGHX62O0CQ',
 '8q1cwINi9UrFi3T0VOtNJA',
 'XCKHvlE52nDOaQclFS6xJA',
 '09RNB6e_oR4FBtNSk2ZMrw',
 'pAEzXCMLihPe_i37l8vWRA',
 'UymEYfhYemywzmOY6ZpAVQ',
 'X5nt3PxsVbHlQ9ZCWjHzMw',
 'RuRqoS40S-QOeEzePveL3A',
 'ONvnR3X8RptFqCwvLkI3GA',
 'y7BaIwgt6a02FsUwzi_x3Q',
 'K2GPjax3tvyia7SW_QhNig',
 'LWxrLB6vfBMYf6quptBJJw',
 'vCLco-4gL2AwmGWaZSC_bQ',
 'vzHffm3u2Z95qenvJZb7Fg',
 'Zg8btmuFg-PqgpQcpHtxcg',
 'rnLcyNpZo8iRb5ezhEVkXw',
 'F5nfIQ_r7e5X0Kn4Gjep1A',
 'ykcBnSmV3opYKDxlltMXcg',
 'dVVuBeRt2z0m_2POpBjH9A',
 'Kza-ChgxzLUYKhpHonJCnA',
 'mqdvzOZ36PsEqncncUAg8g',
 'cjBostEcRXnqhSX86-AG8A',
 'DjQ9MPtKHzi-O27BK5OIFg',
 '3vjsL_eqGH-S4rYk3zpjuQ',
 'oO_mdWom_z0UVECa3nOuNQ',
 'lSERR-3oRZHmkg3O6_jhAg',
 'CRgc30eSz5Z3K3Hyxt5vRg',
 'stMxpEkmCi_Op7j9NYMPJw',
 '0k631KItAcTmAGKQXCwzmQ',
 'PuwnJvIf0T3pdsdb4CrSvQ',
 'yl7iLRZWvXwHSfLdyJvr2w',
 'Av5Skx3qSbUMyIXY4Gy2hQ',
 'oARiix0GkjjF9BFHgrYWEQ',
 'tx2Taj2Hd4eJcmdc2ZlEIA',
 '_3sAYE_oaYLzESkJ5yG9XA',
 'vDVcx25WXHprAG9Zll8cRg',
 '9_hV1ijtyP0om8AWETiaog',
 'Xx9YkC_2OWmB8SLFlQlUZA',
 'u1qDnDM0wzXIgKc3mRr4mg',
 'Rxnssp1houSrVIyDI6oYag',
 'JzEo2sakijEs9pj0T66hfA',
 'GtlQmyOpW9mZMEuolytpxw',
 'rBBXZSYJS5Hq4G1hcN1S6g',
 'Dh5Wa9Z1AtdoEhBsNYHnJQ',
 '2umpsVfdEYwFdEWKqrU4qQ',
 'WQnQa3nqJgpEKc0eWUpEWA',
 'L7hYYgo6ZTK5WfDPWBpa6w',
 'vGmHFzAWhsFOQ6fuSaoy_g',
 'r-fRlBatMFklU-IZJ1KNXw',
 'IetShk9dnNBdIffPI18B0w',
 'VSFGOdnydZTKJV29xxj27A',
 'H_vXzR875rt8TEQBy62wYQ',
 '3SKuptK8FutBgqbUJ2fj7A',
 'OfmYuffPU5yhmgaF6RkyBQ',
 'LjvtO5c1DpjzGjKF70TQxA',
 'szb4APm1xBupc6ZTr09XKw',
 'p-Kz71Ri-oc2BF2qIRJWhA',
 'cF1h9aZge-xikMmwYVl-vw',
 'Ab0oMMozQPy40JkBrTEvqg',
 'YLksOFCRjg9psbm6Bs3hkw',
 'bZkqohWMdu_NKsabY-O_ZA',
 'QLQyrthoAbJy_QDlh2wD8g',
 'GW3fW4f025kVnDD5E_rEDA',
 'wzYWYgNWqhyc00SuGtBS-w',
 'O2d8RHAJD0I7PKEEF02taA',
 'frViBTtcNyzl9aJysMJtAA',
 'Y4m8bVgfOWrOy0S8d7oDPA',
 'xZHDKXuT8WuvLFuebRI9YA',
 'wtcmBuHjDRqav3OLIcPVtA',
 'qOo4nwlRuIu-r40z6T6w-w',
 'tsdjt_AwcDvkgYgdhTQ7CQ',
 'hE8I_KEMpL4trNrFYnvLUw',
 'abDXbLtZedXTlA_ofOGcXQ',
 'GSGf2v8hoyo6Llv0WWqAwA',
 'I9DxkOgUUlHuomRn10bVsA',
 'L7aIt69YmlMYy-uPZppMeQ',
 'QpTy7IVsPPWIFUb0y3bsDw',
 'BttAxHaRGO9kQb4WwaOlcw',
 'FWLg0s1ZGq3G5lSklASEEg',
 'RP-u81e0R3mo-hw1JrUG3Q',
 'gz3CtXj15xUrtV3Uvq_VrQ',
 '1B12boEK8V2NxWLJxhEP_g',
 '96OHUp7IcA8AU5zQ4l9aAg',
 'V1nyIITsSQeFTFKG0iD5YQ',
 'TJZlrpG62131oVBcHEnTUA',
 '3DkEAS7T2zScwRSEgctHYA',
 'SdGXmGc1pab6Vl-Ug9wQ9g',
 'cwkLhWaBstlD83TOcuyJig',
 'iHnry1o0wD1m4_88zJYz_w',
 'CVt0E0pgUBv8mrlM9bpeZg',
 'STtpkLzBYKHmXwiu4DQArA',
 'ULv4vX9sXgH1Tkw0nVrQSA',
 'bVmUPwFKsRJZBfNXOsXSSg',
 'bL_Ux8JafsiDnZigoyjUUQ',
 'QROdPkop6DBfCpQq0fHMFQ',
 '7iDyA2zNGGrv0XpZOgtlLQ',
 'm2wChRUz2O4yqPngwGs_mw',
 '-WLBkzgE6CIK3UkKDAcvZA',
 'ZzRF0MMp_8mPeuONVB0iYA',
 'TgGA6P4BIqqlfBLCwyx4cw',
 'vWe7ZKJ9aSniicVUSmkT7Q',
 'B_lQqUFM3MIbPa7h1M9TCw',
 'XtVY-1e9osWQTMd7wCmm4w',
 'R1YtbqioIzz--iu0e0LLyA',
 'SID49zQRfSUEmacDnbtMwQ',
 'dI4YTXuM5iSki8DhypjZJA',
 '-ZSIZizMxbdIBLjxdyJHjQ',
 'QyC-tEdNut5SbRE3xtg3XA',
 '409h6G1SVo85yDzX28B9kw',
 'qGmLEUxNGHCB0Mvk8yQ8_Q',
 'oxbc-Lw8vQzpRCZu8x-p0Q',
 '1QKZFqfHM9S12WGRfBaPog',
 'gAWDEuvjy1cU075dd3ONWg',
 'cz5NQQrZjgHS9DIq7mXyDA',
 'yoyGpi_WLHQK4rIkAIkF0A',
 'hpjjudITLxvzF_gHlngIrQ',
 'RfsKJDhqZ8BkZcbI7u3ddw',
 'H6et8Gf2Fsg97u0gsQHG6g',
 'yd0gjIPgx9NJZOKEbBO5Kw',
 'QGzyW155zqj1tO6_PQ7IHw',
 'DOLfe1loFhkaVZB5DFwcog',
 'OaKvcPJ9BWDjAQZiZOnR9A',
 'ZYJuIq3JPPKMqXPAkeIcyQ',
 'hXDkaSgv_Ndm4XqtS2jWyQ',
 '3yuGQ2_IMnYUG2kNmNlBrQ',
 'zqqaid1UH41Z8eYmbn7l-g',
 'vMBYbYt1OFP6m2f-CwOiFw',
 'ZOGhZ5GK4v2fOp06GfCt2w',
 'Yx1MVgU0EYoW3uT1503x_Q',
 'B0GrWzT5Z1eWgE4GO3j9VQ',
 '7sWMhkUGHaFwimjpAOoRxA',
 'XBldC6yIxhEfkHt2mppIbA',
 'ZSF3whhFXPeC_pgzpZWSbA',
 'ARZTNnBhPVPqPDrHIrZDbg',
 'EIQUaoW9ek2BB8PrFr94og',
 'fagtGFMx-lBKy012JLw0RQ',
 'H8MslzRP41gbvAI5qe1EzQ',
 'c0r3xOEBRTjURIVfW4Qhtw',
 'iOILUrg_Y2eXY1W1tOuSqA',
 'PGIDU_kHISRZRDeJ2jUe4g',
 'y2vVWkzqpBQ6VJbY-OvqLA',
 'I6aPjwrpbS62IzIGBDcLLQ',
 'JOwGTeBWEls9UQi5D_iDoA',
 'HC2pqVwRJAGOWetkOROgyA',
 'c5svSfbZTSEi5F8fv4n3og',
 '8SfqPym1UgJT0aZqXXIU1w',
 'sj2Kq678CfiHDc0qxmy1kQ',
 'rCA3Vq4ABqw3I4dAQ3z-pQ',
 'BtdWTxWzNaR_gSiLY2Ne0w',
 'QjXTPtR3qqzYiRGN4y--3w',
 'XJZdIHPD42wnViPgAy36bg',
 't0i13F44eY-1gUx0EnqG-A',
 'tLAR30Y5Ah9cFAVH0pMf3g',
 'ANWHyW5JCyp2fCxVxWFXjQ',
 'soOjlwTP6fNsCiJjnJ7sJg',
 'xnFMDUkmxlBdJMVV6jnBng',
 '-3EOglNHnqXB7WqCHQXBHQ',
 'Size8WVoYEZzlG6-28zdDQ',
 'oG2EAdgEorRsfjKUVeDr9A',
 'IUqOk45hc0MWe4v5KD2fhA',
 '_CgWdu0ToHdIwtRtMfkt-w',
 '1cRBUtWA-64nm5cM_To_Xw',
 'bTee2HZqHyP1zLeZkOR0nA',
 'DDd42cx5pjiJK-QbuTk6YA',
 'q9JKVWiliLoGsBUd3f89jA',
 'Z-GjEwxHvSclOyLZA6s2jA',
 'RpDpDIHIlIitvJ95RBAmbA',
 'EsDRTC9B0JR4CfBzQ24H0Q',
 'dEhYa0xRXEbtkqV7NyZOKA',
 'YRgXY7Thq5PpwC27dloPxQ',
 'zSZe-v9BkPuHcpG6gLomxQ',
 'c-jDDQfZe1CI3bdrIZexCw',
 'Yc08CMu8tnbzEWwCoD9iHw',
 'mckNPvQjGVSxHmAzZYBMSw',
 'eBWYaTwP6cJ5QhGqN9DjHA',
 'sG5GL1kX4Is2dWyk1EyYhw',
 'Qe490pMM4DHIYLFKy4toKw',
 'xEZRweMOpNlUJQsxK9KP1w',
 'Afs0yCx5iMafh5LJoWUj_A',
 'NT2KIMYO4MEXbCr3ZCLMYw',
 '6yf72uAvqJ7_YaieTSE5_w',
 'DwkzPtYJ-fQqWHVn1v1KvQ',
 '2zYl9Vt_-vKXWaVSn-B5ng',
 '4ZmVTKqftCUhnDud01yeVg',
 'l3csaAXCRH-5llGGC40wyg',
 'LHDdERe7oGhb__hl5jzVcg',
 'foc1eGo3gbLLdm8EwtLdvA',
 '7tDy0RreBWpp7sVvQVc-0A',
 'c0NJwhzSU_Fni1Wk-10HiA',
 'UuxiH2oLycDhMv7TKQ5EVw',
 'yVMVGJmFu7rP4PswYDpTkA',
 'lZN7_TbHQ4V6a8E1SSKzXg',
 '-dbDlK7wVyuVHkhfjaAmOA',
 'maztzdcmo8xBjBRq6ZXnyg',
 '0wM1ovbZkl3SFTvXReG_ew',
 'Xn33X4RzKv6f4JZEn9-AxQ',
 '63YcfZcX-FnHak19R0WWbg',
 'xZmFhp8HvyEA3edzIEWcoA',
 '772pUlXWKpvtNq-UB2OqUg',
 'Fct9KoNhGwtXZLNmS0py6A',
 'kZtTxI5XoYzh4FJhi_N-4w',
 'fB9Q6z_3_5-tT8KYeG6KaA',
 'FYgx3MZ2q1kumM4CDg5wJg',
 'QcP7TsKcXRjN1aIbr6GImQ',
 'CIm2z1AtOIZbqpxKZxGb-g',
 'Me09muUuqCbjsSuXZBtBmw',
 'VgRljS4ifnRv1RC8Xj5NpA',
 'MVD9GaScmNO4EAEJKOf-fA',
 'C2Ye024opl8WN-ZlYHDTxQ',
 'Ds17oxLj-NOpg1ostqctXA',
 'xRvMUKGCLySPnyPiyecMFQ',
 'dZuooaZmiHCEczcnXmGFVA',
 'Am46M6vHc1pPeSqCeBa2dA',
 'iioWWG3WYhXIveXuvk0U0A',
 'pZmujHyJ6-QvMBxrm0XLUg',
 'JH0eNhmIHPDJ0b_Utmuv_A',
 'iJF5NKz5yTY412jdBC0IkA',
 'GGcxVtjFPpUAL6Fz3nT5Xw',
 'D9aMyWD-ldK_2jx-fVAPzQ',
 'iuyac-FTXStCQrKY0w24Tw',
 'DTjPnTukCjFFV8C_GF0P0w',
 '-PAVFo7Ivq39cJyFcRuxhw',
 'fnJJ4whzZp9PWON_gE6FaA',
 '4JH2mqCNiDPHXD1O7NJTfg',
 'VHxMMjVO4sSrEyS1q4V1nw',
 'Rui1WvrBXAncZkOdcOQ9pw',
 'wCOwLXcyKtlPeYMYpkHBvQ',
 'DiV5JIgNhgSVNQ3U65jJ6Q',
 '-sojx1TXyeCFj8UA8Nqlrw',
 'QEtTiQZKREVEgAfV9LWw3w',
 '158nJ7OMoc6ta6XHTPrLrQ',
 'hGoYs-TfixRkwXDcVK33OA',
 'TKIIWCczJWqjvmzNU8r3jA',
 'artoGAN56FbZHAUE1oFikg',
 '4kbrpW0m5mDpcp09ZuRRMw',
 '9Qa6WPDqGpFtzHj3cmm9Kw',
 'p-uWx0zSA5XakIR9BpKGEQ',
 'I0EpxuiQTqdspdpGiSV7zw',
 'sv4lJVdbDGCxNWWnQJqPdQ',
 'XnTWvgYQk-XgXFv7guXCmw',
 'JRHejJyh8lJ-ywyUthekoA',
 'cXQvELcZAFo_NTyPZk1yTQ',
 'j848RR6JwnV-Ng5rz51cSw',
 'ImsOqBrGxrCiiG0HD8N0Fw',
 '4XlBeVXVbKhH-ify8giV4g',
 'wApY-Lph2fxhJc7Ff7shTA',
 'HUWeHvj-a0Sem9w1M8eCRA',
 'Q_34YITbsQTW4oq6TX2Ftw',
 'NsTTdjlTLpB1HwrNps_Oxw',
 'JHZhHsxKuuy9XHUIaotZcQ',
 'JebfghIQiINJvf5HjuL-bg',
 'H56hnaPMLoyTFJX2ZaJfnQ',
 'QLyh9gLuXQNmdE5jxmQSkQ',
 'OXEZhpXnpCM9JjTPH_MXBg',
 'PeXjVBEBM3s52Tefitgmyw',
 'rIhiHnSfcf7sbsFNIXaWxA',
 'zAER5UCutkd1d2jScZAdSg',
 'qrdS_-FkJKc4BS4Wq44Y0g',
 'TUlBBqexuU7Aak8hkuD2vA',
 '07rIqr_wKcqz9Zwnfjs3LA',
 '3ThZGGHsXSTdtI50V62tsA',
 'rVOXSdu93EQM6iyASzS4-w',
 'qrdZ0Fcvf-BvHRxydPF8SA',
 'BY-mON_811cJlrgjyOK6rg',
 'aAjTkFsIXUo7nBKwMU9TMQ',
 'mBKbZGi-VDUSf6L7dpeXyA',
 '0h8lrCSOHRIVtW4Gcaqzqw',
 'Tm96CBOkgN-60_TkeqlCCQ',
 'DcNG4VbSncE7aDxcEkAn2Q',
 'KEp0Hh8DwVBILnS7Ebm3sg',
 'UdytyhZ_G9ZllNNJjSz81g',
 'Da9e0yl6xO-IyN-0GreJzQ',
 'F2-FBincz51cpd7HvRXDnQ',
 'x1ZiDdaU7g1O-uBvDnctWQ',
 'qzX0JcVFEy4rKXkHCfk5ZA',
 'iVUzIhFp5ZHG3AtzOAq5dQ',
 'AS1mtV9OS5PEIYVxNdJJaQ',
 'c7qxn_FtpyHNHFaLzsdyCg',
 'tKll3Um5t2_agTVtmqkkaA',
 'CH41BG85NrDQQ98mmUosfQ',
 'B4XO7qX1_voyycApmYocJA',
 '4eQAShpO7QyfdJ5rcmadIQ',
 'Wc43rzIXJ9dvXfXH9SRAiQ',
 'IrD3qru12-9Erl7_dvQOyw',
 '2Gio0-Q0W8mgPMGKjMhrBA',
 'zHyTBAHyUtVpTeIHmICwhw',
 'nHsJEOXgDj1xH9R6_eUPhA',
 '1EKFsyZpWav172iLh5TWog',
 'GgzijwQCtgcmcn_BuY-OoQ',
 '1xqDSWwNygQ6wszhBePxKg',
 'NLfuQqxs5EP3QQk5ytk-bQ',
 'wwc1LyAvUB7e6xqyU5mYCw',
 'vpYISm1obnyBvz_0crqxEg',
 'gFbSr2X7GAl4OesZjIuQ2w',
 'hOqvox8j6KcMXhY5DSjbPQ',
 'xmEMyJOaz6IC3hohB7JQ8Q',
 'KAJZfLoROfufa7g2ZlsVnQ',
 'RTGCCz72aJMH0bsMQKxIvA',
 'fqyhS6pqTwqjuNavj4lWwg',
 'nNvJVzPhmMbTGehujaXotw',
 'THYoQT-r3CXpzeARNIcPzg',
 '-IinZ1k88Q2kq1UezzxMsw',
 'UvLqjPPsz1ktNBJFRpStTw',
 'E9YtsBZl6xi6efAcWsQuxQ',
 'aj1C7_MLcbZnmE8d621a1Q',
 'UAUamPOuq8Qh8XMTNSh8Sg',
 'TWnWqHa2k04GmUTyGwUpkQ',
 'KXqHXF2EHjkQW8AXWGIRxQ',
 'GQNjKhZ0kegyCV-e-ogmJA',
 'izriiXJWUzRooVyV19rVtw',
 'vQtIyNkT57ZaLJAgLFMTlg',
 'P-hwSAUuwhXLUuJcflWahw',
 'LPQWIG_AM9LPvEjvhD5GZA',
 'SbFqg8xoBu4Sw4GnYZxlPQ',
 'FTpCCqTN9fPCGDUK0gYTNA',
 'XcSBDRksunMDrB2xcYDDHw',
 'LV1c_a-Q6K4Ef-BH0XkcvQ',
 'WNFEx8dkGYAQ3GJakGm9qA',
 'fAQTJr0gXoEvpjLfNQ5qPw',
 'iEDrEGkhGxCjtyLhgwRNBQ',
 'ABHAr1RsJ_y_7PY-g6QEmw',
 'y9Hr87woamrGqW_AMiftqg',
 'Yli9rVDJ0kvKwD13UPZGkg',
 '6IhXTjBLTeWsi_uEKeh4cw',
 'rV9PvNbDfox3bzpB2y2faQ',
 'b0dJWV7OcGkNEjWw3rOqsA',
 'R_25GItSA9ExGM_hrSWn7w',
 'ub1uJif06y_c167jUVm54w',
 'JHQwHIlppUcGD3ah8HO85w',
 'R-EzC2J8thDQHCjQItbRDw',
 'bKbNNaGnvnJke8xz8Sb49g',
 'EPkMf4NvxQCkTECuRb4Byw',
 'uzc4Hq1FOsJW36qhqcl0XA',
 'PghViNd8I9z_sGiwqD3uvQ',
 'EU7rvx5AvLElvozt8DeJVA',
 'QUgCFj7y2W8PyRnv-UUrHw',
 'V4C9Y50-AHzS81PgR01GcA',
 '7A8mr2-nqII3fPbHwXOk9Q',
 'ZtTJr6qL70SnWUD2wxvm0Q',
 'dgrpbFrcY0CKWUpzL7vmsQ',
 'MnpZd4G2ypKfK4WuTXuYhw',
 'v7BSGp4bDr__FJwDqi_P0Q',
 'IWeuictNq-FPjMPq1Evkiw',
 'dsxzG_uQiOEQ13MeQ5lTyA',
 'HOZ6QR6AM-C-OzhAkG3OMA',
 'T_U5jl4i_ZCk7YLUSkWPwg',
 '4AmK8Aqo31FXlfYjNQnWxg',
 'Q_bXifytvvlVGS9yYq7BWA',
 'dVZS6mHJ46ZvAl743K2lRQ',
 'XF_iQSvvyUFAQUDTQN3KOw',
 'wqIIuOsr-Zgd9algREkqSQ',
 'YoRzdS99JdVT0Bekcldr-A',
 'uLRrcksrGxl4pNEjWFce6g',
 'avPpl3HyqA6dvoRfzSgViQ',
 '0YDaYM6Q_cwNCXflGTzSVQ',
 'RJCNXdjBBvipR3c5T3OoMQ',
 'UnMcvpZSLn_Lxjplti2WlQ',
 'ENKc2IkF_hOBkg6424mqqg',
 'zoFLkMWpecFQdihetLiApQ',
 '0jqca4CSAVcrBTL6Jv_SAA',
 'gg_oaY-xaG_OjbzHGm4Ckg',
 '1Bn-SUHV_LX08TXZ0ELiSw',
 'J60PvfFbEAmI-yS3aCejNg',
 'LGG2VmJVkULqqbGabgAlQQ',
 '8zX0gKWoem_K5nAALUfceA',
 'Yet1P0kmdR40FS41Je-qww',
 'IX2TqLY4olTExi5e0jPs8Q',
 'fyCGC44a4cHH5mhd-2ebEA',
 'zM0oepEiJmQWL5x1VJbbcg',
 'D2y4AoAQPA8xbHr-keMNNA',
 '87mdI55br3_3Z30Zv4CgkA',
 'irx9ItdO3WZj3h92JptQ9w',
 'LXDXpfiNfpc5Cyn9FDy-RQ',
 '0BEN2-UFrvbyy26GIOyhlA',
 'HYXDLOFq2apM3ad7N4-BTg',
 'vd-0EgaugdXY7Sicspl-tA',
 'LL8MvoRt9tRx7eFwDRV0iw',
 'EdXmRi6PcrXmO-iiS7OkJQ',
 '3U1XTdKUCt6ogrb3rSaJDg',
 'GfKrGIfL14tvZsFZitF13g',
 'HS4VeeeZ2XBNd4eCkhGnTg',
 'cLZuAw7IlNO8eBHXvWqugg',
 '8eATfS6lE0BxbKrPnWQbBQ',
 'T27EB3wXxQqciPFt5RcWzQ',
 'YqUuP9fPmFIZIqS2AWsVzg',
 'QebSRDG2co-bwTbJFqq-rA',
 'tTm8BdNn-KXmx1SbReoIQw',
 'sRs6HVx0G1DAtnJLw9e7yw',
 'M_EJ8JBbYmxwaRl5F4QcQw',
 'u2RaFpGROe5mi6qh9kH2SA',
 'Q1_SQ4hoPE0I5MQBRIW5Iw',
 'L0cNVE57S5w3GZgCS0bYxQ',
 'Q2m15_rfoSORbOBnBmPQnA',
 'HGuGBN_5HauJIMEIj_E35w',
 'rIYGrIuqt5nH8pAu2eqwxw',
 'Ak-gInh4-JW_FrQLsMna3Q',
 'pi3sq_uvKO8hH8ZOwGtq1Q',
 '2_buV_1M2M_HsOoUOvs5ow',
 'G4GptiB8J8mBZDNkHq7Mwg',
 'K5fOP7qkMk03AwWaKswe3Q',
 'UTgqJRZKGoXQHKfyscvMEg',
 'sEow3Z48LCUOTL723xMrIA',
 'EdV783gcnwwugQx9U8dtHQ',
 'Boe3d0UHzXmes0vuo3W6nQ',
 'ssYRUuWpMoCaUgGuMQgJTg',
 'NujbVhXel1dFbYbzgSoW4Q',
 'XF5P0JIQp0qYh38zzJQRng',
 'p9a6YrFABkFQ_mUl0JRLgQ',
 'UsPWdob8coXXYH6SMCUdwA',
 '9AEXv76Uiuavh8kgwv--sQ',
 '98VgSZ-gV4gBXTDKGoZPKg',
 'L0rXyGyMlSLWOffu_5Suow',
 '9Z-0I2nOrlnFbTyahZLDmQ',
 'CN3nD8gM9WKpjQotN6gNjA',
 '3twZFoxYOi94RlH0QIz55w',
 'CAYPvsGqWU8ZOrvEcWQh7g',
 'r3xZYDpQcpzLKDVFnFoDZw',
 'YmjmWlgtS-V-xmCekuLB2w',
 'yDaJFuAu5jXcCwjVA--9dw',
 'jCD39m9R_nATsxQvprar_g',
 'yhZlj3n3BU-Sc9LIMUhOxg',
 'q2DSOOT3F0M5Ip8hSrb-mg',
 'vQnqWzkpLj7v2wD9qp24hA',
 '8XH8YIEISLg65m5bD26qSw',
 'ITL1OzO2RyVaY9lPXwLw5Q',
 '4QiqAYJHe5migYC6-XagSw',
 '5mlBdZik9fcudEkO7HMInA',
 'hrKGPS5ydZzT7DeoMMWdRg',
 'eQAuXex1JLfQ9ZED6-82aA',
 'T20exGfbYZZb4YQOK6KqyA',
 '8i-TStAJwsqrFpeBUamNWA',
 'ZsiVlJHLKuXmbfs-anPTYA',
 'Whx-avG9isqRehda-q1dMg',
 'ZI0I9Ux9j9leEkcD9Nc9Pw',
 'C34qkpj_G7DnfiAhoOkwjQ',
 'EYIsigdZ-Y39ZjW6W-SWEQ',
 'H5_tGAQHCvCU0q5fUSTR-Q',
 'T-YJn8kEbJF1lCawqD5ypA',
 'CnKfkW6P7sKceHzSol2G5Q',
 'mOYngG-K6YaIxLV1UNXLvQ',
 't-EkLfJYT7X4teGJtdMcxw',
 'WA1S1hkZA_Dk6a_pzYmYvQ',
 '0SS6Pa0DB6ZAWXGPDGhrYQ',
 'fEdyXgfevxAD6wjaZ1LOIw',
 '7_mo5wdCKgudKDbZuhvRQA',
 'qHuQLurg4L8A9TGrRNZLQQ',
 'xzKlsrUHwYUoe882NA7Auw',
 'rbIHvbt04bTk3R3GfAX9nw',
 'PL4IC3cozR7Ph79qRvZvHg',
 '4kY6WX2tr1bIMPckXQDloA',
 'szHw1ErcsmVLoOoe6abKFQ',
 'YTaHSSzlpVzlaBrdYCkwXg',
 'M6vbyUtrIeJw6_OcUZTMHQ',
 'vopXam2M63VkqhkMPi-Yzg',
 'XZWmzEMW6aQsXg9FmXBZcw',
 'mwylkUJcLlorPJ-enASQaQ',
 'EyYNAY6eubugUojmxhrGKA',
 'LnA7n_xR6yUynPRN7SHKlw',
 'WvHbAQuZI4mD9fvAJ6PTog',
 '8aN9LMOtrV50jA0Oy0GBng',
 'VV48znzrVswNufW9E0VHQQ',
 'KvmtqNxow9KxaT-X0YQIxQ',
 'XyA-UV6S3th5UpYlcFieZg',
 'h5UL0WCL533YBJA8hpC2Cw',
 'rYxWBIbcd7ppAgEQTHfGwQ',
 '7NUFRaKnSwY-q3BNroTHkA',
 'EQkHXN2FhRwTEEEBFDftMA',
 '25kas4dlUecKgHKYQjaeSA',
 'ZkIpEfSYDUtsHAwV83E2pA',
 'tW0sKCjTx0v2vNP39r41gA',
 'TVQnG9Mohb_vPVY7-OZjxA',
 'YqoB0T0y5F2RTPXq1L3P6w',
 'OfNWSbkamsRR2VFMQXq7Lg',
 'QFv-87Kvy7Joq4s1w1_gbw',
 'mjYg1R8p8dN5tNfqBGhcmw',
 'slk6DhWs7oj5WFsCYfEJ9A',
 'PiiQLzmgf4zv92QHzJzgmQ',
 'ueaWWUGYaz5oYBj6ZPxIPw',
 'TfxpgOAC_amRmJnpxBXENQ',
 'CzJqTITQd5T_KJOe8QYmpA',
 'Vg3qdn5fI2-jO96wA87Enw',
 'czZlbNCS3i2skvaM5rleZg',
 'a2pjVdlTdcPFQfp6HMxLNA',
 'hgDN4TvWi8Hdiyc9xM0F4A',
 'fS5cI-r6mTQJK3gCPUgYiw',
 'JGMuoVtnW9Uy0YARjCiXLA',
 'd5arkMXDjy9i_xmdfXNukw',
 'MoGlDGQaCezqFesK5HdMUw',
 'owJYTgadtDb2_Lgv5IJHZQ',
 '--lzNOsnvmQd9kYhhi15qQ',
 'DZfSt-X-laydYij37ekmeA',
 'oX77O94QESBJ49mt3nI75A',
 'TEYVCSfwqVq06Xa6Ke07WA',
 '6EwKjBLlKOVQQAmguu_XMw',
 'e9CJKIg3RbEsKKk8ArndMg',
 'ud-e0WtTrq9zKqgxBY0c-Q',
 'G9xE446YpJpCgPFwBi5qOw',
 '6rLUhhWUNyvthZvw935_sg',
 'cJLcT5OQvzgCqsimySa3GQ',
 'e0ND5cUT45R3QV7-VEfhqA',
 'WAJiZgWbdmgYupZjSzQjIw',
 'Fzw7aoW-MS6AXE5LXYh4gA',
 'eFiWq_5tqArJ51FrYTQo1g',
 '3EUQQmdyIrt_Ol7IeOMJKA',
 'cpKN0NG2FPT0onXLv4Q4nw',
 'gb0JubHKVj42Hr4Jg1ivFQ',
 'm_EKgxWm7uBocWvp-CewBA',
 'Al-1y82LLGNgigv-xwZwYg',
 'DZ7XfoS-CQaMh7hzl3IvpQ',
 '_IobMQLEXXCzvFu8AfkUIQ',
 'uJc46yxTBcxTXumEcmDdvw',
 'EZTABaeWD3VkV3ioU6hPbQ',
 'OPAIA0fiowTXL0bbSnWnDg',
 'mYDTDhFAlyhKFjB2vixNlw',
 'hyI8ipHlED72w4ENf1PjYw',
 'gUyc7kDj4mPCztKEwRT7Jw',
 'nITVKBkBN4E3rANielwupQ',
 'zi-obGJ26FJTslgYBi_Yfg',
 'sNh65iKyey0md3IaxWOFkw',
 'H1L367P_z2zRHxjdrqWkLg',
 'GGSjs0yui6wVEhBqcYQfeg',
 'esvcSWYvujpVGlpnb5Y1Ng',
 'b5vYmdHB-wEL61DVCQdfrg',
 'SmKMJlag5g76JaVm0fJ_9A',
 'BkMCbpbBQyQWsxNP18JATw',
 'tJUKGJAbzRUMwti7O1OJ6Q',
 'q7b9Eq-LVgslXlpCR10Lgw',
 'FLBLWiJ0F101AL3Dqvl5hA',
 'IeZ7z9kspc1ALrtEuDwppg',
 'GGdgnTdCkdMFZB1x7EHksQ',
 'zQ9TXMY18zvJjhRKUPVj7g',
 'WTi3z3EkMXIrz73JiGZ3UQ',
 '8i9L4pZ5nG12D9GqbTeMUw',
 'ECIHyWdFd7xs87uIR4ZV8w',
 '5lZ3YEf6aPCH2PCeSbcJDQ',
 'ilQ1WPa4whUA2Di7N1a9nQ',
 '7UAkVw6GJcpK1ho9oIXBOQ',
 't2bcbG3PzM-ClxLS1pQmiQ',
 'YGgIRWVcUfzTYdacN6OxTQ',
 'b9EWUPHwHS8sXFz0JWfc_Q',
 'xbKWFG1Ij_7Y1n8aHjpE0w',
 'Gjs09NEZLb-pLuETc-E6bw',
 '0e23mHBn6Llvv-m6SwFIwg',
 'Y6VJliO6DQov8MNVw9xzIA',
 'iX1CskaesqsdkkTCFW9w-Q',
 'Zp0Zg8X8PQL-f_I_1DBz7w',
 'IMgvf-p-t4Q498YH1gu9Zw',
 'IvMXJV7INr8LkpsAfH4N3w',
 'xZ8TDNuDGjI6GALALVYO4g',
 'PGkdbAxwd-K-oegDtoP2rA',
 'H0FfNi3eWwLvaHMIVcMacg',
 'cZqVjW-WCcrPKdFe1rO2Tg',
 'ZTDFeQKz9sISkncACyyOdQ',
 'tjHtxLAx2ICHEKUnG1ixHQ',
 'Om0WsPU8yTKLX35G-3nUxw',
 'hIO0FwTmOUib6aPtmRZVAQ',
 'GiHPIPTDYL-npRRVf3-WSg',
 'Gb7PVGc0U_yzL7h6cF192A',
 '3ltfv7OejwncPasvZ1dE9Q',
 'D1I99TifV83l8rSlyYrZ2g',
 'HPlsYNHUz76IICxt1JZZEQ',
 'kFDzpQwlJyjrRMYegYzQTA',
 'SI2TJIk6GSDqUXL-OTtCTQ',
 'fnK4bSUVhs5GlCza7YSDCw',
 'Y_Xp6vQEbONyQesPTtl4Lw',
 'k9E9aY3_y_ksEPtacU0TWQ',
 'ihXOKkUcdPVKGrKNKrzVAA',
 'VqjgaNo0BeIN5yy43knyGA',
 'WC8QYlMccn_sTnqynnga1Q',
 'Cl3Iu05RR8RVyfD_DBWkxA',
 '4ApvewqkLTA5u95a0MBxLQ',
 'S95Dp1-w2G_QaY5LB77LSw',
 'SZXgVymdVb5m6IwPqfqaww',
 'uOaTJJD4jQQ_0J_azXnD_Q',
 'f3uCWNs6IPEZAurrI9EfZA',
 't6hIJqNy6rLuf_hkJ3z78A',
 'RmjPOJ8lKGpjYOdhv739oQ',
 '4pq36naZBsNb6VsR6OVXJQ',
 'YJHVXFPJQ3T1CosVIN22OQ',
 'rfB2AS5nGomv9eN63qfTsA',
 'PdDpYsXBD8CF-g95fD-t-g',
 'BIZQ91ng8dfjNIomYC4xXg',
 'hlADN7HsOWImxmNT52_FvQ',
 'cG4VvOagW_JRsJVkluGFaw',
 'TUlZIV9oaISKr_7m8BD4BQ',
 'NS6DiZfsq23zP0K3UnpLIQ',
 'Z5ZHrKupxM3XVd_Z5BOrqg',
 'yJ-CyjaPqVRUkWfR3SY4ww',
 '0gEm63bUYrO2ONviyGFeUg',
 'eux5BZBvzUb6Hg3sA1P8WA',
 'BkHnuUvvJJQ62Nv69xU-YA',
 'DWrl8Wznias4USYj6qJjPg',
 'rY4OUYI5h9mjQBPdJtq7-A',
 'VJfhdBkL6yMfaVlx8q4lqQ',
 'VgBTZ2fotCACb2kIBISCOQ',
 'YMF3FPbdg86enXleH6SYQA',
 'aOWuEkNyb07uiW09AyMNmQ',
 'Ev6_j_pBRY1LV1CFAVZ1eA',
 'TQc35pdOaDI5HiPOJQyiZg',
 'Dk4gOpWcaZvq86962rN4oA',
 'snu_wcbmDUFyZk7HwX1Xzw',
 'WO3oAUZ4zatsl79zDaTPqQ',
 'ySf6BFuqgt7mH8u9F0VhqA',
 'czMUqy7HHWKyOYe3ZdDuZw',
 'ocO1eyCcU9pMXAqsbc4OYg',
 'b0JQJBMejK2WX2hS6ZCSmQ',
 'NDCwl945T8XY0EDOur3FWA',
 'xrRHeZxUXJX0VfL-_6oq5A',
 'kqix5gUE9rni8H-xARib0w',
 'vJuFW3hDcUE7cKw9ThsJig',
 'DB2posAVXUjLIt_68C924g',
 '9Jav4OPerab3tSPdRLX-UA',
 '1FFfm5l7ja7EIVtQr4IyeA',
 'u3E17bIjttHXDbF4EVFrEw',
 'mx_j1swINYwvc3wFfGNs9A',
 'XiUfUMtok1w5lMouHAQacw',
 'lKGijSXjLr2BLzNq_5p-bQ',
 'UKTuFHue7JAmFmvoMJ1EeQ',
 'qg9SQou5oVQ8gqnh-r7pBg',
 'Qladmk3buczL6xfbLTfgaw',
 'cUjhfCWc3xg2kFeBGrmUrA',
 '0mObbqf8hVtD0GzRWpqWYw',
 'Wnl0djskn7deZ4fxYhYjTQ',
 'ft0eTdijk4Pm9YhlfG4sgA',
 'AwcqZKVc0vQyzwh1hFEsyg',
 'HoQV8gOgZYJycsCbokcRfA',
 'zBr9aAHc2aUv08BoqZkXmg',
 'HOVzcq-bmQFothEVpZDs8w',
 'xboH6BXdO1z1113PiwKh_g',
 'CWV2fQ7Ixhuil_i6sCv0tA',
 'sniO0mRYmPNvpT4Vn-mqqw',
 'FTHBAMzbLepYYA7VOM2b0w',
 'JfKGnlMltHltquSIsP_TGQ',
 'oY5AOloCmLVUA3jmValFrw',
 'gNi_XNmjxCPy_RASgGWrfw',
 'zQ5u_PVMPMGw40bH2Mu6aQ',
 '8x_qYtpyOlJj5fUZE9d_7g',
 'lVwS01AGsUleYTac74IS7A',
 'dXtFob0yMOXOwjtJ0m4eQw',
 '3FeRxUYubFRFip08Lc9RGw',
 'BSiLkL4iFAYpLIQKfJzm1A',
 'GA9NhbNDflr1AKNfFJf8mA',
 'gm3Pfm6bhmAFYmf-42hk7A',
 'EIpBYzURcQ3ZUJ6XIzZgxg',
 'a_08VzGQTehgCkvsy0TsRg',
 'HNawyQiPyBU-CVaDJ5Yyqg',
 '_Xl0FgEkCf-A6u2eUSogyg',
 'QxarLDYqHFrRut24P3TTZg',

In [37]:
rows = zip(x)

In [38]:
rows

In [39]:
import csv

with open("train.csv", "w") as f:
    writer = csv.writer(f)
    for row in rows:
        writer.writerow(row)

In [2]:
df2 = pd.read_json('yelp_academic_dataset_photo.json', orient='columns', lines='true')

In [3]:
df2.shape

(280992, 4)